.breadcrumbs {
    &__list {
        display: flex;
        gap: 4px;
    }
    &__item {
        display: flex;
        align-items: center;
        @include text_breadcrumbs;
        opacity: 0.5;
        &:not(:last-child) {
            &:after {
                content: "\e901";
                font-family: "icons";
                font-size: 1.6em;
                display: inline-block;
                margin-left: 0.25em;
            }
        }
        &:last-child {
            opacity: 1;
            .breadcrumbs__link {
                cursor: auto;
                pointer-events: none;
            }
        }
    }
    &__link {
        font-size: 1em;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &_white {
        .breadcrumbs__link {
            color: $base-1;
        }
        .breadcrumbs__item {
            &:not(:last-child) {
                &:after {
                    color: $base-1;
                }
            }
        }
    }
    &_black {
        .breadcrumbs__link {
            color: $base-4;
        }
        .breadcrumbs__item {
            &:not(:last-child) {
                &:after {
                    color: $base-4;
                }
            }
        }
    }
}