.commercial {
    background-color: $base-4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: -1.5625rem 0 -0.9375rem;
    padding: 4rem 0 4.75rem;
    overflow-x: hidden;
    .hero-section + & {
        position: relative;
        z-index: 1;
    }
    &__running-line {
        border-top: 1px dashed rgba($color: $base-1, $alpha: 0.1);
        border-bottom: 1px dashed rgba($color: $base-1, $alpha: 0.1);
        p {
            opacity: 0.1;
        }
    }
    &__slogan {
        margin: 0.305em 0 0.22em;
    }
    // @include min_container {
    //     padding-top: calc(64px + 64 * var(--screen-diff));
    //     padding-bottom: calc(77px + 77 * var(--screen-diff))
    // }
    @media (min-width: 576px) and (max-width: 1608px) {
        padding-top: calc(28px + 26 * (100vw - 576px) / (1608 - 576));
        padding-bottom: calc(34px + 41 * (100vw - 576px) / (1608 - 576))
    }
    @include phone {
        margin-bottom: -10px;
        padding: 28px 0 34px
    }
}