.equipment-item {
    background-color: $base-2;
    border-radius: 0.75rem;
    cursor: pointer;
    // padding: 50px 24px 20px 24px;
    padding: 3.125rem 1.5rem 1.25rem;
    position: relative;
    &__amount {
        @include text_t2;
        position: absolute;
        top: 1.5rem; //24px;
        right: 1.5ren; //
    }
    &__img {
        position: relative;
        padding-bottom: calc(316/332 * 100%);
        width: 100%;
        height: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: darken;
            transition: transform 0.2s ease 0s
        }
    }
    &__name {
        @include text_t2;
        margin: 1.5em 0 0;
        text-transform: lowercase;
        @include min_gap {
            max-width: 246px;
        }
    }
    @include ishover {
        .equipment-item__img {
            img {
                transform: scale(1.05);
            }
        }
    }
    @include min_container {
        // --padding-top: calc(50px + 50 * var(--screen-diff));
        // --padding-x: calc(24px + 24 * var(--screen-diff));
        // --padding-bottom: calc(20px + 20 * var(--screen-diff));
        // padding: var(--padding-top) var(--padding-x) var(--padding-bottom);
        // &__amount {
        //     top: calc(24px + 24 * var(--screen-diff));
        //     right: calc(24px + 24 * var(--screen-diff))
        // }
        &__name {
            width: 65%;
            max-width: none;
        }
    }
}