.running-line {
    display: flex;

    &__wrapper {
        --animation-translate: -50%;
        --animation-duration: 5s;
        display: flex;
        animation: run var(--animation-duration) linear infinite;
    }
    &__item {
        flex-shrink: 0;
        p {
            @include heading_hero;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}

@keyframes run {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(var(--animation-translate), 0, 0);
    }
}