.running-line {
    display: flex;

    &__wrapper {
        display: flex;
        animation: run 5s linear infinite;
    }
    &__item {
        flex-shrink: 0;
        p {
            @include heading_hero;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}

@keyframes run {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}