.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin-top: 0
}

.swiper-button-prev,
.swiper-button-next {
    color: $base-1;
    cursor: pointer;
    font-size: 25px;
    line-height: 1;
    flex-shrink: 0;
    width: auto;
    height: auto;
    &:after {
        content: none
    }
    @include min_container {
        font-size: calc(25px + 25 * var(--screen-diff));
    }
    @include gap {
        display: none;
    }
}

.swiper-button-prev {
    transform: rotate(-180deg);
}

.swiper-pagination-divider,
.swiper-pagination-total {
    opacity: 0.5;
}

.swiper-controls {
    position: absolute;
    right: 0;
    bottom: 90px;
    width: 100%;
    z-index: 1;
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    &__inner {
        border-radius: 50px;
        border: 1px solid rgba($color: $base-1, $alpha: 0.17);
        display: flex;
        align-items: center;
        gap: 28px;
        @include text_t6;
        padding: 7px 16px;
    }
    @include min_container {
        &__inner {
            gap: calc(28px + 28 * var(--screen-diff))
        }
    }
    @include gap {
        &__inner {
            font-size: 18px;
        }
    }
    @include phone {
        &__container {
            justify-content: center;
        }
        bottom: 40px;
        right: 50%;
        transform: translate(50%, 0);
    }
}