// reset
.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin-top: 0
}

.swiper-button-prev,
.swiper-button-next {
    color: $base-1;
    cursor: pointer;
    // font-size: calc(25 / 12 * 1em);
    // line-height: 1;
    flex-shrink: 0;
    width: auto;
    height: 1.5rem;
    &:after {
        content: none
    }
    // @include min_container {
    //     font-size: calc(25px + 25 * var(--screen-diff));
    // }
    @include gap {
        display: none;
    }
}

// customize
.swiper-pagination-divider,
.swiper-pagination-total {
    opacity: 0.5;
}

.swiper-controls {
    position: absolute;
    right: 0;
    bottom: 90px;
    width: 100%;
    z-index: 1;
    &__container {
        display: flex;
        justify-content: flex-end;
    }
    &__inner {
        border-radius: 50px;
        border: 1px solid rgba($color: $base-1, $alpha: 0.17);
        display: flex;
        align-items: center;
        gap: 28px;
        @include text_t6;
        // padding: 8px 16px;
        padding: 0.75em 1.25em;
    }
    // @include min_container {
    //     &__inner {
    //         gap: calc(28px + 28 * var(--screen-diff))
    //     }
    // }
    @include gap {
        &__inner {
            font-size: 18px;
        }
    }
    @include phone {
        &__container {
            justify-content: center;
        }
        bottom: 40px;
        right: 50%;
        transform: translate(50%, 0);
    }
}

.swiper-buttons {
    display: flex;
    gap: 1rem;
}

.swiper-button {
    &_big {
        border-style: solid;
        border-width: 1px;
        border-radius: 3.125rem;
        display: block;
        padding: 1.5rem 4.625rem;
        width: auto;
        height: auto;
        transition: all 0.3s ease 0s;
        svg {
            width: 2rem;
            height: 2rem;
            vertical-align: top;
        }
        span {
            font-size: inherit;
        }

        @include min_container {
            // border-radius: calc(50px + 50 * var(--screen-diff));
            // font-size: calc(32px + 32 * var(--screen-diff));
            // padding: 0.75em 2.3125em
        }
        @media (min-width: 768px) and (max-width: 1680px) {
            padding-left: calc(37px + 37 * (100vw - 768px) / (1680 - 768));
            padding-right: calc(37px + 37 * (100vw - 768px) / (1680 - 768));
            padding-top: calc(12px + 12 * (100vw - 768px) / (1680 - 768));
            padding-bottom: calc(12px + 12 * (100vw - 768px) / (1680 - 768));
        }
        // @include phone {
        //     padding: 12px;
        // }
    }
    &_black {
        border-color: rgba($color: $base-4, $alpha: 0.2);
        color: $base-4;
        @include ishover {
            background-color: $base-2;
            border-color: $base-2;
        }
    }
    &_white {
        border-color: rgba($color: $base-1, $alpha: 0.2);
        color: $base-1;
        @include ishover {
            background-color: $base-1;
            color: $base-4;
        }
    }
}