.about-section {
    border-radius: 0;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        .container {
            --positionX: calc(234 / 1680 * 100%);
            background-image: url(../images/logos/logo-bg.svg);
            background-position: var(--positionX) 15%;
            background-repeat: no-repeat;
            height: 100%;
            opacity: 0.04;
        }
    }
    &__title {
        max-width: 900px;
    }
    &__stats {
        background-image: url(../images/index/about.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 16px;
        margin: 4.875rem 0 0;
        padding: 15rem 2rem 2rem
    }
    &__stat-card {
        flex-basis: 364px;
        height: 448px;
    }
    @include min_container {
        &__title {
            width: calc(900 / 1568 * 100%);
            max-width: none;
        }
        // &__stats {
        //     --padding-top: calc(240px + 240 *  var(--screen-diff));
        //     --padding-x: calc(32px + 32 *  var(--screen-diff));
        //     margin-top: calc(78px + 78 *  var(--screen-diff));
        //     padding: var(--padding-top) var(--padding-x) var(--padding-x)
        // }
        &__stat-card {
            flex-basis: calc(364px + 364 *  var(--screen-diff));
            height: calc(448px + 448 *  var(--screen-diff));
        }
    }

    @include desktop {
        // &__desc {
        //     flex-basis: 45%;
        // }
        // &__link {
        //     margin-left: calc(87 / 1240 * 100%);
        // }
        &__stats {
            padding-top: calc(240 / 1240 * 100%)
        }
        &__stat-card {
            flex-basis: calc(364 / (1240 - 64) * 100%);
            height: auto;
            min-width: 280px;
            .number-card__inner-wrapper {
                padding-top: calc(448 / 364 * 100%);
                height: 0;
            }
        }
    }
    @include gap {
        &__content {
            flex-direction: column;
            gap: 20px;
        }
        // &__desc, &__link {
        //     margin: 0;
        // }
        &__stats {
            background: transparent;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            padding: 0;
        }
        &__stat-card {
            flex-basis: calc(50% - 8px);
            min-width: initial;
            .number-card__inner-wrapper {
                box-shadow: 0 0 6px 2px rgba($color: $base-4, $alpha: 0.25);
                padding-top: 125%;
            }
        }
    }
    @include phone {
        &__stat-card {
            flex-basis: 380px;
            .number-card__inner-wrapper {
                padding-top: 110%;
            }
        }
    }
}

.number-card {
    position: relative;    
    &__inner-wrapper {
        background-color: $base-1;
        border-radius: 12px;
        padding: 1rem 1.5rem; // 16px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .icon-play {
        font-size: 1.5rem;
        position: absolute;
        top: 1.5rem; //24px;
        left: 1.5rem //24px;
    }
    &__icon {
        color: inherit;
        font-size: 64px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__name {
        @include text_t3;
        max-width: 220px;
        text-transform: lowercase;
    }
    &__stat {
        border-top: 1px dashed rgba($color: $base-4, $alpha: 0.25);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        margin: 24px 0 0;
        padding: 24px 0 0;
        @include gap {
            margin-top: 18px;
            padding-top: 18px
        }
    }
    &__value {
        @include number_n1;
        @media (min-width: 768px) and (max-width: 1608px) {
            font-size: calc(70px + 58 * (100vw - 768px) / (1608 - 768))
        }
        @include gap {
            font-size: 70px;
        }
    }
    &__unit {
        flex-shrink: 0;
        @include text_t3;
        text-transform: uppercase;
        @include gap {
            font-size: 16px;
        }
    }
    @include min_container {
        // --padding-x: calc(24px + 24 * var(--screen-diff));
        // --padding-y: calc(16px + 16 * var(--screen-diff));
        &__bg {
            .container {
                background-size: calc(635 / 1680 * 100%);
            }
        }
        // &__inner-wrapper {
        //     padding: var(--padding-y) var(--padding-x);
        // }
        // .icon-play {
        //     font-size: calc(24px + 24 * var(--screen-diff));
        // }
        // &__icon {
        //     font-size: calc(64px + 64 * var(--screen-diff));
        // }
        &__name {
            width: calc(220 / 364 * 100%);
            max-width: none;
        }
    }
    @include phone {
        &__icon {
            font-size: 48px;
        }
    }
}