.about-section {
    border-radius: 0;
    &__desc {
        flex-basis: calc(545 / 1608 * 100%);
        margin-left: auto;
    }
    &__link {
        margin-left: 85px;
    }
    &__stats {
        background-image: url(../images/index/about.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 16px;
        margin: 78px 0 0;
        padding: 240px 32px 32px;
    }
    &__stat-card {
        flex-basis: 364px;
        height: 448px;
    }
    @include min_container {
        &__link {
            margin-left: calc(85px + 85 *  var(--screen-diff));
        }
        &__stats {
            --padding-top: calc(240px + 240 *  var(--screen-diff));
            --padding-x: calc(32px + 32 *  var(--screen-diff));
            margin-top: calc(78px + 78 *  var(--screen-diff));
            padding: var(--padding-top) var(--padding-x) var(--padding-x)
        }
        &__stat-card {
            flex-basis: calc(364px + 364 *  var(--screen-diff));
            height: calc(448px + 448 *  var(--screen-diff));
        }
    }

    @include desktop {
        &__desc {
            flex-basis: 45%;
        }
        &__link {
            margin-left: calc(87 / 1240 * 100%);
        }
        &__stats {
            padding-top: calc(240 / 1240 * 100%)
        }
        &__stat-card {
            flex-basis: calc(364 / (1240 - 64) * 100%);
            height: auto;
            min-width: 280px;
            .number-card__inner-wrapper {
                padding-top: calc(448 / 364 * 100%);
                height: 0;
            }
        }
    }
    @include gap {
        &__content {
            flex-direction: column;
            gap: 20px;
        }
        &__desc, &__link {
            margin: 0;
        }
        &__stats {
            background: transparent;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
            padding: 0;
        }
        &__stat-card {
            flex-basis: calc(50% - 8px);
            min-width: initial;
            .number-card__inner-wrapper {
                box-shadow: 0 0 6px 2px rgba($color: $base-4, $alpha: 0.25);
                padding-top: 125%;
            }
        }
    }
    @include phone {
        &__stat-card {
            flex-basis: 380px;
            .number-card__inner-wrapper {
                padding-top: 110%;
            }
        }
    }
}

.number-card {
    position: relative;    
    &__inner-wrapper {
        background-color: $base-1;
        border-radius: 12px;
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        height: 100%;
        width: 100%;
    }
    .icon-play {
        font-size: 24px;
        position: absolute;
        top: 24px;
        left: 24px;
    }
    &__icon {
        color: inherit;
        font-size: 64px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__name {
        @include text_t3;
        max-width: 220px;
        text-transform: lowercase;
    }
    &__stat {
        border-top: 1px dashed rgba($color: $base-4, $alpha: 0.25);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        margin: 24px 0 0;
        padding: 24px 0 0;
        @include gap {
            margin-top: 18px;
            padding-top: 18px
        }
    }
    &__value {
        @include number_n1;
        @media (min-width: 768px) and (max-width: 1608px) {
            font-size: calc(70px + 58 * (100vw - 768px) / (1608 - 768))
        }
        @include gap {
            font-size: 70px;
        }
    }
    &__unit {
        flex-shrink: 0;
        @include text_t3;
        text-transform: uppercase;
        @include gap {
            font-size: 16px;
        }
    }
    @include min_container {
        --padding-x: calc(24px + 24 * var(--screen-diff));
        --padding-y: calc(16px + 16 * var(--screen-diff));
        &__inner-wrapper {
            padding: var(--padding-y) var(--padding-x);
        }
        .icon-play {
            font-size: calc(24px + 24 * var(--screen-diff));
        }
        &__icon {
            font-size: calc(64px + 64 * var(--screen-diff));
        }
        &__name {
            max-width: calc(220px + 220 * var(--screen-diff));
        }
        &__stat {
            
        }
    }
    @include phone {
        &__icon {
            font-size: 48px;
        }
    }
}