.banner-section {
    position: relative;

    &__slide {
        padding: 0;
        p {
            flex-basis: calc(680 / 1608 * 100%);
            @include text_t2;
        }
    }
    &__slide-content {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        .container {
            display: flex;
            align-items: center;
            column-gap: 9%;
            row-gap: 20px;
        }
        @include tablet {
            .container {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .swiper-controls {
        &__container {
            gap: 12px;
        }
        &__container {
            padding-left: 0;
            padding-right: 0;
        }
        &__link {
            background-color: rgba($color: $base-1, $alpha: 0.17);
            @include text_t6;
            text-align: center;
            text-transform: uppercase;
            @include ishover {
                background-color: $base-1;
                color: #3D3D3D;
            }
        }
        @include gap {
            margin-left: 20px;
        }
    }
}

.banner-slider {
    &__slide {
        padding: 0;
    }
    &_outer &__slide {
        height: 50.625rem; //810px;
    }
    &_inner {
        border-top: 1px dashed rgba($color: $base-1, $alpha: 0.25);
        padding-top: 32px;
        padding-bottom: 40px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        & > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            row-gap: 30px;
        }
        .swiper {
            flex-basis: calc(1070 / 1608 * 100%);
            margin: 0;
        }
        .swiper-slide {
            transition: all 0.3s ease 0s;
        }
        .swiper-controls {
            flex-shrink: 0;
        }
        .banner-slide {
            display: flex;
            align-items: center;
            row-gap: 16px;
            column-gap: calc(144 / 1070 * 100%);
            height: auto;
            @include tablet {
                flex-direction: column;
                align-items: flex-start;  
            }
        }
        .swiper-controls {
            position: static;
            width: auto;
            transform: none;
            @include tablet {
                &__container {
                    flex-direction: column;
                    align-items: stretch;
                }
            }
        }
    }
    // @include min_container {
    //     &_outer &__slide {
    //         height: calc(810px + 810 * var(--screen-dif));
    //     }
    // }
    @include gap {
        &_inner {
            & > .container {
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 30px;
                padding-left: 0;
                padding-right: 0;

            }
            .swiper {
                flex: 1 0 100%;
            }
            .banner-slider__slide {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.banner-slide {
    &__img {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:after {
            background: linear-gradient(359deg, rgba(0, 0, 0, 0.35) 4.85%, rgba(0, 0, 0, 0.00) 29.04%);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        @include text_t2;
    }
    &__logo {
        svg {
            vertical-align: top
        }
    }
    &__btn {
        @include text_t6;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, 0);
        // .swiper-slide-active & {
        //     opacity: 1;
        //     transform: translate(-50%, 0) scale(1);
        //     transition-delay: 0.5s;
        // }
    }
    @include min_container {
        &__logo {
            svg {
                width: 15.75rem;
                height: auto;
            }
        }
    }
}