.pin-spacer {
    max-width: 100%;
}
.equipment-section {
    background-color: $base-1;
    &__header {
        .container {
            display: flex;
            justify-content: space-between;
            row-gap: 30px;
            column-gap: 40px
        }
    }
    &__info {
        display: block;
        flex-basis: calc(360 / 1608 * 100%);
        max-width: 360px;
    }
    &__shops {
        display: flex;
        // cursor: pointer;
        // @include ishover {
        //     .equipment-section__shops-item {
        //         &:first-child {
        //             transform: translate(-22.5%, 0);
        //         }
        //         &:last-child {
        //             transform: translate(22.5%, 0);
        //         }
        //         // &:not(:last-child) {
        //         //     margin-right: 5px;
        //         // }
        //     }
        // }
    }
    &__shops-item {
        background-color: $base-1;
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 50%;
        color: $base-4;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 5rem;
        height: 5rem;
        transition: transform 0.3s ease 0s;
        z-index: 1;
        &:not(:last-child) {
            margin-right: -0.75rem;
        }
        svg {
            width: 47.5%;
            height: 47.5%;
        }
    }
    .section__desc {
        margin: 1.1em 0 0;
    }
    .section__link {
        display: inline-block;
        margin: 2.14em 0 0;
    }
    .swiper-slide {
        display: flex;
        height: auto;
        // width: 380px;
        .equipment-item {
            width: 100%;
        }
    }
    @include min_container {
        &__info {
            width: calc(360 / 1568 * 100%);
            max-width: none;
            // max-width: calc(360px + 360 * var(--screen-diff));
        }
        &__shops-item {
            &:not(:last-child) {
                margin-right: calc(-13px - 13 * var(--screen-diff))
            }
            svg {
                width: 2.375rem;
                height: 2.375rem;
            }
        }
    }
    @include gap {
        &__header {
            .container {
                flex-direction: column;
            }
        }
        p {
            @include text_t3
        }
        // &__slider {
        //     height: 100vh !important;
        //     display: flex;
        //     align-items: centerw;
        // }
    }
}