@import "../components/running-line.scss";
@import "../components/commercial.scss";

.footer {
    background-color: $base-4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    z-index: 1;
    &__commercial {
        overflow: hidden;
    }
    &__running-line {
        .running-line__wrapper {
            --padding-y: calc(50 / 1680 * 100%);
            padding: var(--padding-y) 0;
        }
    }
    &__shops-wrapper {
        display: flex;
        align-items: center;
        gap: 3.75rem;
        padding-right: 3.75rem;
    }
    &__shop-logo {
        color: rgba($color: $base-1, $alpha: 0.2);
        svg {
            vertical-align: top;
        }
    }
    &__contact-us {
        background-image: url(../images/form-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        // padding: 90px 0 56px;
        padding-top: calc(90 / 1680 * 100%);
        padding-bottom: calc(56 / 1680 * 100%);
    }
    &__contact-us-container {
        display: flex;
        justify-content: space-between;
    }
    &__contact-us-content {
        align-self: flex-start;
        flex: 0 0 48%;
    }
    &__contact-us-title {
        @include heading_h1;
        text-transform: lowercase;
    }
    &__contact-us-desc {
        @include text_t2;
        margin: 1.1em 0 0;
        // max-width: 650px;
        opacity: 0.6;
    }
    &__contact-us-form {
        align-self: flex-end;
        flex: 0 0 49.5%;
        margin-top: calc(200 / 1568 * 100%);
        // max-width: 780px;
    }
    &__col {
        flex-shrink: 0;
        &_main {
            flex-shrink: 1;
            flex-basis: calc(50% + 0.5rem);
        }
        &:not(:first-child):not(:last-child) {
            margin-right: calc(70 / 1568 * 100%);
        }
    }
    &__footer {
        &-top {
            --padding-y: calc(64 / 1680 * 100%);
            border-bottom: 1px dashed rgba($color: $base-1, $alpha: 0.2);
            padding: var(--padding-y) 0;
        }
        &-bottom {
            --padding-y: calc(25 / 1680 * 100%);
            @include text_t5;
            line-height: 1.2;
            padding: var(--padding-y) 0;
            opacity: 0.6;
            .footer__col {
                &:nth-child(2) {
                    margin-right: calc(24 / 1568 * 100%);
                }
                &:nth-child(3) {
                    width: 155px;
                }
                &:last-child {
                    width: 326px;
                }
            }
        }
        .container {
            display: flex;
        }
    }
    &__logo {
        gap: 1.25rem;
        svg {
            width: 3.75rem;
            height: 3.75rem;
        }
        &-text {
            font-size: 1.75rem;
            .icon {
                top: -2px
            }
        }
    }
    &__contacts {
        margin-top: 34px;
        & > * {
            display: block;
            @include text_t2;
            &:not(:first-child) {
                margin-top: 12px;
            }
        }
    }
    @include min_container {
        &__shop-logo {
            &:first-child {
                svg {
                    width: calc(241px + 241 * var(--screen-diff));
                    height: auto;
                }
            }
            &:last-child {
                svg {
                    width: calc(182px + 182 * var(--screen-diff));
                    height: auto;
                }
            }
        }
        &__footer {
            &-bottom {
                $cols: 24;
                $col-width: 50px;
                $col-gap: 24px;
                $col-1: calc((3 * $col-width + 3 * $col-gap) / ($cols * $col-width + ($cols - 1) * $col-gap) * 100%);
                $col-2: calc((5 * $col-width + 5 * $col-gap) / ($cols * $col-width + ($cols - 1) * $col-gap) * 100%);
                .footer-col {
                    &:nth-child(2) {
                        width: $col-1;
                        white-space: nowrap;
                    }
                    &:nth-child(3) {
                        width: calc(155 / 1568 * 100%)
                    }
                    &:last-child {
                        width: $col-2
                    }
                }
            }
        }
        // &__contact-us-desc {
        //     max-width: calc(650px + 650 * var(--screen-diff));
        // }
        // &__contact-us-form {
        //     max-width: calc(780px + 780 * var(--screen-diff));
        // }
    }
    @include desktop {
        &__footer {
            .container {
                flex-wrap: wrap;
                row-gap: 40px;
                column-gap: 20px;
            }
        }
        &__footer-top {
            .footer__col {
                &_main {
                    flex-basis: 100%;
                }
            }
        }
        &__footer-bottom {
            .footer__col {
                width: auto;
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        &__col {
            flex-basis: calc((100% - 40px) / 3);
            &:not(:first-child):not(:last-child) {
                margin-right: 0;
            }
        }
    }
    @include tablet {
        &__contact-us-container {
            flex-direction: column;
            gap: 60px;
            & > * {
                flex-basis: auto;
            }
        }
        &__contact-us-desc {
            max-width: 650px;
        }
        &__contact-us-form {
            align-self: flex-start;
            margin-top: 0;
            max-width: 780px;
        }
    }
    @include gap {
        &__contact-us {
            padding-top: 45px;
            padding-bottom: 30px;
        }
        &__footer {
            .container {
                flex-direction: column
            }
        }
        &__footer-top {
            padding: 35px 0;
        }
        &__footer-bottom {
            .container {
                row-gap: 15px
            }
        }
    }
}

.footer-col {
    &__title {
        @include text_t1;
        text-transform: lowercase;
    }
    &__menu {
        &_main {
            .footer-col__menu-item {
                &:not(:first-child) {
                    margin-top: 0.75rem
                }
            }
            .footer-col__menu-link {
                @include text_t1;
                opacity: 1;
                text-transform: lowercase;
            }
        }
        &:not(:first-child) {
            margin-top: 1rem
        }
    }
    &__menu-item {
        &:not(:first-child) {
            margin-top: 0.375rem
        }
    }
    &__menu-link {
        @include text_t3;
        opacity: 0.6;
        transition: color 0.2s ease 0s;
        @include ishover {
            color: $base-3;
        }
    }
}

.select {
    position: relative;
    &__input {
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__head {
        border-bottom: 1px solid rgba($color: $base-4, $alpha: 0.2);
        cursor: pointer;
        @include text_t4;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        padding-bottom: 0.875em;
        width: 100%; // ???
        opacity: 0.5;
        &:after {
            background-color: $base-4;
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            transform-origin: center bottom;
            transition: transform 0.2s ease 0s, background-color 0.2s ease 0s;
        }
    }
    .select__label {
        color: $base-4;
        text-transform: uppercase;
    }
    .select__button {
        color: inherit;
        transform: rotate(90deg);
        transition: transform 0.2s ease 0s;
        &:before {
            color: inherit;
        }
    }
    &__options-wrapper {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease 0s;
    }
    &__options {
        color: $base-4;
        @include text_t5;
        padding-top: calc(16 / 14 * 1em);
    }
    &__option {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        line-height: 1.2;
        pointer-events: none;
        &:not(:last-child) {
            margin-bottom: calc(8 / 14 * 1em);
        }
        &:not(&_selected) {
            @include ishover {
                .select__option-radio {
                    background-color: #E2E2E2;
                }
            }
        }
        &_selected {
            .select__option-radio {
                &:before {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }
    }
    &__option-radio {
        border: 1px solid #E2E2E2;
        border-radius: 50%;
        position: relative;
        width: 1em;
        height: 1em;
        transition: background-color 0.2s ease 0s;
        &:before {
            background-color: $base-4;
            border-radius: 50%;
            content: "";
            position: absolute;
            top: calc(50% - 3px);
            left: calc(50% - 3px);
            width: 6px;
            height: 6px;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.3);
            transition: all 0.2s ease 0s;
        }
    }
    &_open {
        .select__head {
            opacity: 1;
            .select__button {
                transform: rotate(-90deg);
            }
            &:after {
                transform: scale(1);
            }
        }
        .select__option {
            cursor: pointer;
            pointer-events: auto;
        }
    }
    &_selected {
        .select__head {
            opacity: 1;
        }
    }
}
.contact-us-form {
    background-color: $base-1;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
    padding: 40px;
    &__control {
        border-bottom: 1px solid rgba($color: $base-4, $alpha: 0.2);
        color: $base-4;
        cursor: text;
        display: flex;
        flex: 1 0 270px;
        align-items: flex-end;
        gap: 15px;
        position: relative;
        &:after {
            background-color: $base-4;
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            transform-origin: center bottom;
            transition: transform 0.2s ease 0s, background-color 0.2s ease 0s;
        }
        &_full-width {
            flex-basis: 100%;
        }
        &_focused {
            &:after {
                transform: scaleX(1);
            }
        }
        &_changed {
            & > .contact-us-form__clear-button {
                opacity: 1;
                visibility: visible;
            }
        }
        &_filled {
            .contact-us-form__label {
                pointer-events: auto;
                transform: translate(0, - 20px) scale(0.75);
            }
        }
        &_error {
            .contact-us-form__input {
                color: $red
            }
            .contact-us-form__error-text {
                opacity: 1;
                visibility: visible;
            }
            &:after {
                background-color: $red;
                transform: scaleX(1);
            }
        }
    }
    &__label {
        color: $base-4;
        @include text_t4;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        text-transform: uppercase;
        opacity: 0.5;
        transform-origin: top left;
        transition: transform 0.2s ease 0s;
    }
    &__input, &__textarea {
        color: inherit;
        @include text_t4;
        padding-bottom: 0.875em;
        width: 100%;
        text-transform: uppercase;
        & + label + .contact-us-form__control:after {
            transform: scaleX(1);
        }
        &:focus {
            & + label {
                transform: translate(0, - 1.25em) scale(0.75);
            }
        }
        &:disabled {
            background-color: transparent;
            color: rgba(0, 0, 0, 0.38);
        }
    }    
    &__clear-button {
        color: inherit;
        opacity: 0;
        visibility: hidden;
        &_visible {
            opacity: 1;
            visibility: visible;
        }
        .icon-close {
            color: $base-4;
            font-size: 18px;
            display: block;
            font-size: inherit;
            transform: translate(0, -0.875em);
        }
    }
    &__textarea {
        border: none;
        box-sizing: content-box;
        // flex-basis: 100%;
        height: 1em;
        resize: none;
        outline: none;
        &_hidden {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            height: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            overflow: hidden; // нужно для скрытия скроллбара и корректной ширины
        }
    }
    &__select {
        flex-basis: 100%;
    }
    &__error-text {
        color: $red;
        font-size: 10px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.1px;
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
    }
    &__agreement {
        color: $base-4;
        @include text_t5;
        max-width: 390px;
        opacity: 0.6;
        text-transform: none;
        a {
            text-decoration: underline;
        }
    }
    &__actions {
        margin: -16px 0 0;
        flex-basis: 100%;
    }
    &__actions-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        & > div {
            position: relative;
        }
    }
    &__file {
        &_attached &-field {
            display: none;
        }
        &_attached &-doc {
            display: flex;
        }
    }
    &__file-input {
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__file-label {
        color: $base-4;
        @include text_t4-2;
        cursor: pointer;
        display: flex;
        align-self: center;
        gap: calc(6 / 16 * 1em);
        text-transform: lowercase;
        .icon-clip {
            font-size: 1.5625em;
        }
    }
    &__file-doc {
        background-color: #F0F0F0;
        color: $base-4;
        cursor: auto;
        display: none;
        align-items: center;
        gap: 1.25rem;
        @include text_t6;
        padding-right: 0.8125rem;
        text-transform: uppercase;
        button {
            font-size: 0.8125rem;
            position: relative;
            bottom: 1px;
        }
    }
    &__success-label {
        color: $base-4;
        @include text_t2;
        display: flex;
        align-items: center;
        gap: 8px;
        span:last-child {
            text-transform: lowercase;
        }
        .icon-checkmark {
            font-size: calc(28 / 22 * 1em);
        }
    }
    &_sending {
        $disabled-color: rgba(0, 0, 0, 0.38);
        .contact-us-form__control, .select__label {
            border-bottom-color: $disabled-color;
            color: $disabled-color;
            cursor: auto;
        }
        .contact-us-form__clear-button {
            cursor: auto;
        }
        .contact-us-form__file-label {
            color: $disabled-color;
            cursor: auto;
        }
        .contact-us-form__file-doc {
            background-color: rgba(0, 0, 0, 0.12);
            color: $disabled-color;
        }
        .contact-us-form__file-doc button {
            cursor: auto;
            &:after,
            &::before {
                background-color: $disabled-color;
            }
        }
    }
    &_sent {
        .contact-us-form__actions-wrapper {
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block !important;
            }
        }
    }
    @include min_container {
        padding: calc(40 / 1568 * 100%);
        &__agreement {
            width: calc(390 / 694 * 100%);
            max-width: none;
        }
    }
    @include phone {
        padding-left: 20px;
        padding-right: 20px;
        &__actions {
            flex-grow: 1;
        }
        &__actions-wrapper { 
            &:first-child {
                flex-direction: column-reverse;
            }
        }
        &__button {
            align-self: stretch;
        }
    }
}