section.hero-section
    .hero-section__running-line.running-line 
        .running-line__wrapper 
            .running-line__item 

    .hero-section__container.container
        .hero-section__content
            .hero-section__img 
                img(src="", alt="")
            .hero-section__icons
            .hero-section__head.hero-section__head_horizontal.hero-section__heade_vertical
                h1.hero-section__title 


section.section 
    .section__header 
        .container
            h2.section__title 
            .section__more 
    .section__body
        .container

.running-line 
    .running-line__wrapper 
        .running-line__item 

.popup 
    .popup__container 
        .popup__content
            .popup__close
                button.close(type="button")
            h4.popup__title
            .popup__body 