doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body
        block preloader
        block header
        include ../includes/header
        block content 
        include ../includes/footer
        block popup
        block scripts
            script(src="js/libs/gsap.min.js")
            script(src="js/libs/ScrollTrigger.min.js")
            script(src="js/libs/split-type.min.js") 
            script(src="js/script.min.js") 
