doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body
        //- block preloader
        .preloader 
            .preloader__container 
                .preloader__logo 
                    svg(width='73' height='73' viewBox='0 0 73 73' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M19.5049 36.5989C20.6403 37.7665 23.8148 40.912 24.844 41.9348C30.8007 36.6633 38.3784 28.2204 41.5368 25.8531C45.3675 22.9584 49.9604 23.4377 53.2411 26.7537C56.8048 30.356 59.6062 32.0382 59.7702 36.6697C59.6062 44.6366 37.0082 63.8413 31.1448 69.3252C30.4147 70.0553 29.7875 70.5796 28.8451 71.493C30.6945 72.2135 31.5115 72.6927 37.3073 72.6927C41.4886 72.6927 46.1104 70.7822 48.6964 69.0904C51.2823 67.3986 61.0117 57.2414 63.9257 54.3306C69.5318 47.8593 73.4075 43.945 72.6098 33.5723C72.2882 29.6291 70.114 25.39 68.3128 22.8748C66.264 20.0123 53.5691 8.42058 53.5691 7.37527C53.5691 4.66711 55.1773 2.22912 55.3478 0.00341797C28.189 28.1593 28.2533 28.1367 19.5178 36.6021' fill='#333333')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M53.1969 36.0905C52.0648 34.923 48.887 31.7774 47.861 30.7546C41.9043 36.0262 34.3234 44.4691 31.165 46.8363C27.3343 49.731 22.7414 49.2518 19.4639 45.9358C15.9002 42.3335 13.0956 40.6513 12.9348 36.0198C13.0956 28.0529 35.6936 8.84815 41.5602 3.36429C42.2935 2.63418 42.9175 2.10992 43.8599 1.19648C42.0169 0.479234 41.2 0 35.4073 0C31.2261 0 26.601 1.91051 24.0151 3.6023C21.4291 5.29409 11.7061 15.4384 8.7889 18.3621C3.17961 24.8334 -0.696079 28.7476 0.104789 39.1203C0.407125 43.0636 2.59746 47.3027 4.40182 49.8179C6.45063 52.6804 19.1423 64.2721 19.1423 65.3174C19.1423 68.0256 17.5502 70.4636 17.3637 72.6893C44.5128 44.5334 44.4613 44.556 53.1969 36.0905Z' fill='#D8680B')
                .preloader__text Стеллаж +
        block header
        include ../includes/header
        block content 
        include ../includes/footer
        block popup
        block scripts
            script(src="js/libs/gsap.min.js")
            script(src="js/libs/ScrollTrigger.min.js")
            script(src="js/libs/split-type.min.js") 
            script(src="js/script.min.js") 
