.product-section {
    background-color: #F0F0F0;
    color: $base-4;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 90px;
        min-height: 810px;
    }
    &__main-info, &__params {
        flex-basis: calc(444 / 1568 * 100%);
    }
    &__title {
        @include heading_h3;
        text-transform: lowercase;
        @media (min-width: 576px ) and (max-width: 1568px) {
            font-size: calc(32px + 16 * (100vw - 576px)/(1568 - 576));
        }
        @include phone {
            font-size: 32px
        }
    }
    &__desc {
        @include text_t3;
        opacity: 0.6;
        margin-top: 16px
    }
    &__doc {
        display: inline-block;
        @include text_t6;
        margin-top: 24px;
        text-transform: uppercase;
    }
    &__img {
        flex-basis: calc(502 / 1568 * 100%);
        mix-blend-mode: darken;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__certificate {
        display: flex;
        align-items: center;
        gap: 10px;
        div {
            @include text_t5-2
        }
    }
    &__certificate-icon {
        padding: 7.5px
    }
    &__table {
        margin: 24px 0 0;

    }
    &__all-params {
        margin: 24px 0 0;
        text-decoration: underline;
        text-transform: uppercase
    }

    @include tablet {
        &__container {
            flex-direction: column;
            row-gap: 24px;
        }
        &__img {
            width: 50%;
            order: -1
        }
        &__table {
            margin-top: 16px
        }
        &__all-params {
            margin-top: 16px
        }
    }
    @include phone {
        &__container {
            padding-top: 45px;
            padding-bottom: 45px;
        }
        &__desc {
            font-size: 16px
        }
    }
}