table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
caption {
    @include text_t5;
    text-align: left;
    margin: 0 0 20px;
    text-transform: uppercase;
}
tbody tr {
    border-top: 1px dashed rgba($color: $base-4, $alpha: 0.25);
    @include text_t4-2
}
tbody td {
    padding: 14px 0;
    &:first-child {
        opacity: 0.6;
    }
    &:last-child {
        text-align: right
    }
}