section.about-section.section 
    .about-section__bg
        .container
    .section__header 
        .container
            h2.about-section__title.section__title крупнейший производитель торговых и складских систем в регионе
    .section__body
        .container
            .about-section__info.section__info
                .section__param (c 2008 года)
                .about-section__desc.section__desc Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят
                a.about-section__link.section__link.link(href="#") Перейти в каталог
            .about-section__stats
                .about-section__stat-card.number-card
                    .number-card__inner-wrapper
                        span.icon-play
                        .number-card__icon.icon-square
                            //- svg(xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none')
                            //-     path(d='M26.6689 41.3339H37.3408' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(d='M41.3368 37.333V26.6611' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M37.3359 23.9918V21.324C37.3359 19.8507 38.5303 18.6562 40.0037 18.6562H42.6715C44.1449 18.6562 45.3393 19.8507 45.3393 21.324V23.9918C45.3393 25.4652 44.1449 26.6596 42.6715 26.6596H40.0037C38.5303 26.6596 37.3359 25.4652 37.3359 23.9918Z' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M45.3393 40.0008V42.6686C45.3393 44.1419 44.1449 45.3363 42.6715 45.3363H40.0037C38.5303 45.3363 37.3359 44.1419 37.3359 42.6686V40.0008C37.3359 38.5274 38.5303 37.333 40.0037 37.333H42.6715C44.1449 37.333 45.3393 38.5274 45.3393 40.0008Z' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(d='M37.3408 22.662H26.6689' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(d='M22.6493 37.333V26.6611' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M18.6484 23.9918V21.324C18.6484 19.8507 19.8428 18.6562 21.3162 18.6562H23.984C25.4574 18.6562 26.6518 19.8507 26.6518 21.324V23.9918C26.6518 25.4652 25.4574 26.6596 23.984 26.6596H21.3162C19.8428 26.6596 18.6484 25.4652 18.6484 23.9918Z' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M26.6518 40.0008V42.6686C26.6518 44.1419 25.4574 45.3363 23.984 45.3363H21.3162C19.8428 45.3363 18.6484 44.1419 18.6484 42.6686V40.0008C18.6484 38.5274 19.8428 37.333 21.3162 37.333H23.984C25.4574 37.333 26.6518 38.5274 26.6518 40.0008Z' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                            //-     rect(x='7.98145' y='7.98926' width='48.02' height='48.02' rx='13.3333' stroke='#333333' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round')
                        .number-card__name Производственная площадь
                        .number-card__stat 
                            .number-card__value 150
                            .number-card__unit тыс. м#[sup 2]
                .about-section__stat-card.number-card
                    .number-card__inner-wrapper
                        span.icon-play
                        .number-card__icon.icon-user
                            //- svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M6.5 16.5C6.5 14.8431 7.84315 13.5 9.5 13.5H14.5C16.1569 13.5 17.5 14.8431 17.5 16.5C17.5 16.7761 17.2761 17 17 17C16.7239 17 16.5 16.7761 16.5 16.5C16.5 15.3954 15.6046 14.5 14.5 14.5H9.5C8.39543 14.5 7.5 15.3954 7.5 16.5C7.5 16.7761 7.27614 17 7 17C6.72386 17 6.5 16.7761 6.5 16.5Z' fill='currentColor')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M12 7C10.8954 7 10 7.89543 10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7ZM9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9Z' fill='currentColor')
                            //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M2.49414 7.99634C2.49414 4.95877 4.95657 2.49634 7.99414 2.49634H16.0016C19.0392 2.49634 21.5016 4.95877 21.5016 7.99634V16.0038C21.5016 19.0414 19.0392 21.5038 16.0016 21.5038H7.99414C4.95657 21.5038 2.49414 19.0414 2.49414 16.0038V7.99634ZM7.99414 3.49634C5.50886 3.49634 3.49414 5.51105 3.49414 7.99634V16.0038C3.49414 18.4891 5.50886 20.5038 7.99414 20.5038H16.0016C18.4869 20.5038 20.5016 18.4891 20.5016 16.0038V7.99634C20.5016 5.51106 18.4869 3.49634 16.0016 3.49634H7.99414Z' fill='currentColor')
                        .number-card__name Общая численность сотрудников
                        .number-card__stat 
                            .number-card__value 230
                            .number-card__unit чел
