header.header
    .header__wrapper
        .header__container.container
            a.header__logo.logo(href="#") 
                svg(xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35' fill='none')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.19385 17.2501C9.72898 17.8004 11.2252 19.283 11.7103 19.7651C14.5179 17.2804 18.0895 13.301 19.5782 12.1853C21.3837 10.8209 23.5485 11.0468 25.0948 12.6097C26.7745 14.3076 28.0949 15.1005 28.1722 17.2834C28.0949 21.0385 17.4437 30.0903 14.6801 32.675C14.336 33.0191 14.0404 33.2663 13.5962 33.6968C14.4679 34.0364 14.8529 34.2622 17.5847 34.2622C19.5555 34.2622 21.7339 33.3618 22.9527 32.5644C24.1716 31.767 28.7574 26.9796 30.1308 25.6076C32.7731 22.5575 34.5999 20.7126 34.2239 15.8236C34.0723 13.965 33.0475 11.967 32.1986 10.7815C31.2329 9.43227 25.2494 3.96874 25.2494 3.47605C25.2494 2.19961 26.0074 1.05051 26.0877 0.00146484C13.2869 13.2722 13.3173 13.2616 9.19991 17.2516' fill='currentColor')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M25.0734 17.0106C24.5398 16.4603 23.042 14.9777 22.5584 14.4956C19.7508 16.9803 16.1777 20.9597 14.6891 22.0755C12.8835 23.4398 10.7187 23.214 9.17397 21.651C7.49429 19.9531 6.17237 19.1603 6.09657 16.9773C6.17237 13.2222 16.8235 4.17042 19.5886 1.5857C19.9343 1.24157 20.2284 0.994472 20.6726 0.563938C19.8039 0.225879 19.4189 0 16.6886 0C14.7179 0 12.5379 0.900482 11.3191 1.69788C10.1002 2.49528 5.51747 7.27662 4.14249 8.65464C1.49865 11.7048 -0.328084 13.5497 0.0493905 18.4387C0.191891 20.2972 1.22426 22.2953 2.07472 23.4808C3.04039 24.83 9.02238 30.2935 9.02238 30.7862C9.02238 32.0626 8.27198 33.2117 8.18405 34.2608C20.9803 20.99 20.956 21.0006 25.0734 17.0106Z' fill='currentColor')
                span.logo__text Стеллаж +
            nav.header__menu
                ul.header__menu-list
                    li.header__menu-item
                        a.header__menu-link(href="#") Продукция
                        .header__submenu
                            ul.header__submenu-list
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Складское оборудование
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Торговое оборудование
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Торг. холодильное оборудование
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Кассовые боксы
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Металлическая мебель
                                li.header__submenu-item 
                                    a.header__submenu-link(href="#") Прочее оборудование
                    li.header__menu-item
                        a.header__menu-link(href="#") Услуги
                    li.header__menu-item
                        a.header__menu-link(href="#") Проекты
                    li.header__menu-item
                        a.header__menu-link(href="#") Компания
                    li.header__menu-item
                        a.header__menu-link(href="#") Контакты
            .header__actions 
                .header__phone 
                    a.header__phone-link(href="tel:+74959970687") +7 (495) 997-06-87 
                    a.header__phone-link.header__phone-link_icon(href="tel:+74959970687")
                        svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M15.0006 11.4264L13.8985 10.3242C13.3479 9.7736 12.4552 9.7736 11.9056 10.3242L11.0392 11.1905C10.8457 11.3841 10.5525 11.4489 10.3026 11.339C9.04727 10.7893 7.80698 9.95588 6.70107 8.84996C5.59985 7.74874 4.76923 6.5141 4.21862 5.26348C4.10399 5.00509 4.1707 4.70159 4.37084 4.50146L5.14695 3.72534C5.77743 3.09486 5.77743 2.20318 5.22682 1.65257L4.12466 0.550406C3.39083 -0.183428 2.20128 -0.183428 1.46745 0.550406L0.854825 1.16209C0.158576 1.85834 -0.131763 2.86278 0.0561583 3.85877C0.520325 6.31396 1.94665 9.00218 4.24775 11.3033C6.54885 13.6044 9.23707 15.0307 11.6923 15.4949C12.6882 15.6828 13.6927 15.3925 14.3889 14.6962L15.0006 14.0845C15.7345 13.3507 15.7345 12.1611 15.0006 11.4264Z' fill='currentColor')

                .header__dropdown 
                    .header__dropdown-head.site-lang_min
                        img.site-lang__img(src="./images/lang_ru.png", alt="")
                        div.site-lang__text рус
                    ul.header__dropdown-list 
                        li.header__dropdown-item.header__dropdown-item_active.site-lang 
                            img.site-lang__img(src="./images/lang_ru.png", alt="иконка рус. языка")
                            div.site-lang__text(data-value="рус") Русский язык
                        li.header__dropdown-item.site-lang
                            img.site-lang__img(src="./images/lang_ru.png", alt=" иконка анг. языка")
                            div.site-lang__text(data-value="eng") English Language
            .header__burger 
                span