header.header(class=color && "header_" + color)
    .header__container.container
        a.header__logo.logo(href="/") 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35' fill='none')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M9.19385 17.2501C9.72898 17.8004 11.2252 19.283 11.7103 19.7651C14.5179 17.2804 18.0895 13.301 19.5782 12.1853C21.3837 10.8209 23.5485 11.0468 25.0948 12.6097C26.7745 14.3076 28.0949 15.1005 28.1722 17.2834C28.0949 21.0385 17.4437 30.0903 14.6801 32.675C14.336 33.0191 14.0404 33.2663 13.5962 33.6968C14.4679 34.0364 14.8529 34.2622 17.5847 34.2622C19.5555 34.2622 21.7339 33.3618 22.9527 32.5644C24.1716 31.767 28.7574 26.9796 30.1308 25.6076C32.7731 22.5575 34.5999 20.7126 34.2239 15.8236C34.0723 13.965 33.0475 11.967 32.1986 10.7815C31.2329 9.43227 25.2494 3.96874 25.2494 3.47605C25.2494 2.19961 26.0074 1.05051 26.0877 0.00146484C13.2869 13.2722 13.3173 13.2616 9.19991 17.2516' fill='currentColor')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M25.0734 17.0106C24.5398 16.4603 23.042 14.9777 22.5584 14.4956C19.7508 16.9803 16.1777 20.9597 14.6891 22.0755C12.8835 23.4398 10.7187 23.214 9.17397 21.651C7.49429 19.9531 6.17237 19.1603 6.09657 16.9773C6.17237 13.2222 16.8235 4.17042 19.5886 1.5857C19.9343 1.24157 20.2284 0.994472 20.6726 0.563938C19.8039 0.225879 19.4189 0 16.6886 0C14.7179 0 12.5379 0.900482 11.3191 1.69788C10.1002 2.49528 5.51747 7.27662 4.14249 8.65464C1.49865 11.7048 -0.328084 13.5497 0.0493905 18.4387C0.191891 20.2972 1.22426 22.2953 2.07472 23.4808C3.04039 24.83 9.02238 30.2935 9.02238 30.7862C9.02238 32.0626 8.27198 33.2117 8.18405 34.2608C20.9803 20.99 20.956 21.0006 25.0734 17.0106Z' fill='currentColor')
            span.logo__text Стеллаж #[span.plus +]
        nav.header__menu
            ul.header__menu-list
                li.header__menu-item
                    a.header__menu-link(href="#") Продукция
                    .header__submenu
                        ul.header__submenu-list
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Складское оборудование
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Торговое оборудование
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Торг. холодильное оборудование
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Кассовые боксы
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Металлическая мебель
                            li.header__submenu-item 
                                a.header__submenu-link(href="equipment-page.html") Прочее оборудование
                li.header__menu-item
                    a.header__menu-link(href="#") Услуги
                    .header__submenu
                        ul.header__submenu-list
                            li.header__submenu-item 
                                a.header__submenu-link(href="single-service-page.html") Услуга 1
                            li.header__submenu-item 
                                a.header__submenu-link(href="single-service-page.html") Услуга 2
                            li.header__submenu-item 
                                a.header__submenu-link(href="single-service-page.html") Услуга 3
                li.header__menu-item
                    a.header__menu-link(href="projects-page.html") Проекты
                li.header__menu-item
                    a.header__menu-link(href="#") Компания
                    .header__submenu
                        ul.header__submenu-list
                            li.header__submenu-item 
                                a.header__submenu-link(href="about-page.html") О нас
                            li.header__submenu-item 
                                a.header__submenu-link(href="#") Блог 
                            li.header__submenu-item 
                                a.header__submenu-link(href="typical-page.html") Информация
                li.header__menu-item
                    a.header__menu-link(href="contacts-page.html") Контакты
        .header__actions 
            .header__phone 
                a.header__phone-link(href="tel:+74959970687") +7 (495) 997-06-87 
                a.header__phone-link.header__phone-link_icon.icon-phone(href="tel:+74959970687")
                    
            .header__dropdown 
                .header__dropdown-head.site-lang_min
                    img.site-lang__img(src="./images/ru-flag_icon.webp", alt="")
                    span.site-lang__text рус
                ul.header__dropdown-list 
                    li.header__dropdown-item.header__dropdown-item_active.site-lang 
                        img.site-lang__img(src="./images/ru-flag_icon.webp", alt="иконка рус. языка")
                        span.site-lang__text(data-value="рус") Русский язык
                    li.header__dropdown-item.site-lang
                        img.site-lang__img(src="./images/en-flag_icon.webp", alt=" иконка анг. языка")
                        span.site-lang__text(data-value="eng") English Language
        .header__burger 
            span