section.hero-section 
    .hero-section__img 
        img(src="./images/index/hero.png", alt="")
    .hero-section__slider 
        .swiper
            .swiper-wrapper 
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title Производим стеллажные системы
                            p.hero-slide__desc Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/service.html") Перейти к услуге
                                a.hero-slide__video(href="#")
                                    span.icon-play
                                    span Смотреть видео
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title Производим стеллажные системы
                            p.hero-slide__desc Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/service.html") Перейти к услуге
                                a.hero-slide__video(href="#")
                                    span.icon-play
                                    span Смотреть видео
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title Производим стеллажные системы
                            p.hero-slide__desc Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/service.html") Перейти к услуге
                                a.hero-slide__video(href="#") 
                                    span.icon-play
                                    span Смотреть видео
        .swiper-controls 
            .swiper-controls__container.container 
                .swiper-controls__inner
                    .swiper-button-prev.icon-arrow-right
                        //- svg(xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none')
                        //-     path(d='M6.64645 11.6464C6.45118 11.8417 6.45118 12.1583 6.64645 12.3536L9.82843 15.5355C10.0237 15.7308 10.3403 15.7308 10.5355 15.5355C10.7308 15.3403 10.7308 15.0237 10.5355 14.8284L7.70711 12L10.5355 9.17157C10.7308 8.97631 10.7308 8.65973 10.5355 8.46447C10.3403 8.2692 10.0237 8.2692 9.82843 8.46447L6.64645 11.6464ZM17 11.5L7 11.5L7 12.5L17 12.5L17 11.5Z' fill='white')
                    .swiper-pagination
                    .swiper-button-next.icon-arrow-right
                        //- svg(xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none')
                        //-     path(d='M6.64645 11.6464C6.45118 11.8417 6.45118 12.1583 6.64645 12.3536L9.82843 15.5355C10.0237 15.7308 10.3403 15.7308 10.5355 15.5355C10.7308 15.3403 10.7308 15.0237 10.5355 14.8284L7.70711 12L10.5355 9.17157C10.7308 8.97631 10.7308 8.65973 10.5355 8.46447C10.3403 8.2692 10.0237 8.2692 9.82843 8.46447L6.64645 11.6464ZM17 11.5L7 11.5L7 12.5L17 12.5L17 11.5Z' fill='white')
