section.hero-section 
    .hero-section__blur
    .hero-section__video
        video(autoplay loop muted preload="metadata") 
            source(src="./videos/stellplus.mp4", type="video/mp4")
    //- .hero-section__img 
    //-     img(src="./images/index/hero.png", alt="")
    .hero-section__slider 
        .swiper
            .swiper-wrapper 
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title(data-swiper-parallax="-400" data-swiper-parallax-duration="500") Производим стеллажные системы
                            p.hero-slide__desc(data-swiper-parallax="-300" data-swiper-parallax-duration="500") Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/single-service-page.html")
                                    .button__text-wrapper
                                        .button__text.button__text_show Перейти к услуге
                                        .button__text.button__text_hidden Перейти к услуге
                                a.hero-slide__video(href="#" data-youtube-id="fDIyAXQ_PjI")
                                    span.icon-play
                                    span Смотреть видео
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title(data-swiper-parallax="-400" data-swiper-parallax-duration="500") Производим стеллажные системы
                            p.hero-slide__desc(data-swiper-parallax="-300" data-swiper-parallax-duration="500") Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/single-service-page.html")
                                    .button__text-wrapper
                                        .button__text.button__text_show Перейти к услуге
                                        .button__text.button__text_hidden Перейти к услуге
                                a.hero-slide__video(href="#" data-youtube-id="fDIyAXQ_PjI")
                                    span.icon-play
                                    span Смотреть видео
                .hero-section__slide.hero-slide.swiper-slide
                    .hero-slide__container.container
                        .hero-slide__content
                            h2.hero-slide__title(data-swiper-parallax="-400" data-swiper-parallax-duration="500") Производим стеллажные системы
                            p.hero-slide__desc(data-swiper-parallax="-300" data-swiper-parallax-duration="500") Любые идеи и пожелания клиента переводятся на язык конструктива и реализуются в новых разработках
                            .hero-slide__actions 
                                a.hero-slide__link.button.button_primary(href="/single-service-page.html")
                                    .button__text-wrapper
                                        .button__text.button__text_show Перейти к услуге
                                        .button__text.button__text_hidden Перейти к услуге
                                a.hero-slide__video(href="#" data-youtube-id="fDIyAXQ_PjI") 
                                    span.icon-play
                                    span Смотреть видео
        .swiper-controls 
            .swiper-controls__container.container 
                .swiper-controls__inner
                    .swiper-button-prev
                        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none')
                            path(d='M6.64645 11.6464C6.45118 11.8417 6.45118 12.1583 6.64645 12.3536L9.82843 15.5355C10.0237 15.7308 10.3403 15.7308 10.5355 15.5355C10.7308 15.3403 10.7308 15.0237 10.5355 14.8284L7.70711 12L10.5355 9.17157C10.7308 8.97631 10.7308 8.65973 10.5355 8.46447C10.3403 8.2692 10.0237 8.2692 9.82843 8.46447L6.64645 11.6464ZM17 11.5L7 11.5L7 12.5L17 12.5L17 11.5Z' fill='currentColor')
                    .swiper-pagination
                    .swiper-button-next
                        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none')
                            path(d='M17.3536 12.3536C17.5488 12.1583 17.5488 11.8417 17.3536 11.6464L14.1716 8.46447C13.9763 8.2692 13.6597 8.2692 13.4645 8.46447C13.2692 8.65973 13.2692 8.97631 13.4645 9.17157L16.2929 12L13.4645 14.8284C13.2692 15.0237 13.2692 15.3403 13.4645 15.5355C13.6597 15.7308 13.9763 15.7308 14.1716 15.5355L17.3536 12.3536ZM7 12.5L17 12.5L17 11.5L7 11.5L7 12.5Z' fill='currentColor')


