.projects-section__projects 
    a.projects-section__project.project(href="./single-case-page.html") 
        .project__img
            img(src="./images/projects/project-1.png", alt="")
        .project__logo 
            img(src="./images/logos/perekrestok-logo.svg" alt="")
        .project__content 
            .project__name Перекресток
            .project__address Московская область, г. Одинцово, ул. Маршала Неделина, 6,
            span.icon-play
    a.projects-section__project.project(href="./single-case-page.html") 
        .project__img
            img(src="./images/projects/project-2.png", alt="")
        .project__logo.project__logo_vkus 
            img(src="./images/logos/vkus-logo.svg" alt="")
        .project__content 
            .project__name Азбука вкуса
            .project__address Московская область, г. Одинцово, ул. Маршала Неделина, 6,
            span.icon-play
    a.projects-section__project.project(href="./single-case-page.html") 
        .project__img
            img(src="./images/projects/project-3.png", alt="")
        .project__logo 
            img(src="./images/logos/5ka-logo.svg" alt="")
        .project__content 
            .project__name Пятерочка
            .project__address Московская область, г. Одинцово, ул. Маршала Неделина, 6,
            span.icon-play
    a.projects-section__project.project(href="./single-case-page.html") 
        .project__img
            img(src="./images/projects/project-4.png", alt="")
        .project__logo 
            img(src="./images/logos/fp-logo.svg" alt)
        .project__content 
            .project__name Fix Price
            .project__address Московская область, г. Одинцово, ул. Маршала Неделина, 6,
            span.icon-play