section.services-section.section
    .services-section__header.section__header 
        .container
            h2.services-section__title.section__title решаем сложные задачи, комплексным подходом
    .services-section__body.section__body
        .services-section__list 
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 1
                        h4.service__name Консалтинговые услуги
                    .service__content 
                        p.service__preview Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                        .service__body 
                            .service__in входит в услугу:
                            .service__icon
                                img(src="./images/service-icon.png", alt="") 
                            .service__includes
                                .service__include Консультация
                                .service__include Готовые решения
                                .service__include Чертеж проекта
                            p.service__about Наши менеджеры всегда помогут подобрать стеллажи
                            a.service__link.link(href="/single-service-page.html") Перейти к услуге
                    button.service__button(type="button")
                        span.icon
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 2
                        h4.service__name проектирование системы
                    .service__content 
                        p.service__preview Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                        .service__body 
                            .service__in входит в услугу:
                            .service__icon
                                img(src="./images/service-icon.png", alt="") 
                            .service__includes
                                .service__include Консультация
                                .service__include Готовые решения
                                .service__include Чертеж проекта
                            p.service__about  Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                            a.service__link.link(href="/single-service-page.html") Перейти к услуге
                    button.service__button(type="button")
                        span.icon
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 3
                        h4.service__name производство стеллажей
                    .service__content 
                        p.service__preview Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                        .service__body 
                            .service__in входит в услугу:
                            .service__icon
                                img(src="./images/service-icon.png", alt="") 
                            .service__includes
                                .service__include Консультация
                                .service__include Готовые решения
                                .service__include Чертеж проекта
                            p.service__about  Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                            a.service__link.link(href="/single-service-page.html") Перейти к услуге
                    button.service__button(type="button")
                        span.icon
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 4
                        h4.service__name складирование и логистика
                    .service__content 
                        p.service__preview Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                        .service__body 
                            .service__in входит в услугу:
                            .service__icon
                                img(src="./images/service-icon.png", alt="") 
                            .service__includes
                                .service__include Консультация
                                .service__include Готовые решения
                                .service__include Чертеж проекта
                            p.service__about  Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                            a.service__link.link(href="/single-service-page.html") Перейти к услуге
                    button.service__button(type="button")
                        span.icon
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 5
                        h4.service__name монтаж и сервисное обслуживание
                    .service__content 
                        p.service__preview Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                        .service__body 
                            .service__in входит в услугу:
                            .service__icon
                                img(src="./images/service-icon.png", alt="") 
                            .service__includes
                                .service__include Консультация
                                .service__include Готовые решения
                                .service__include Чертеж проекта
                            p.service__about  Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                            a.service__link.link(href="/single-service-page.html") Перейти к услуге
                    button.service__button(type="button")
                        span.icon