section.services-section.section
    .services-section__header.section__header 
        .container
            h2.services-section__title.section__title решаем сложные задачи, комплексным подходом
    .services-section__body.section__body
        .services-section__list 
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 1
                        h4.service__name Консалтинговые услуги
                    .service__in входит в услугу:
                    .service__icon
                        img(src="./images/service-icon.png", alt="") 
                    button.service__button.button.button_second(type="button")
                        span.icon-plus
                    .service__includes
                        .service__include Консультация
                        .service__include Готовые решения
                        .service__include Чертеж проекта
                    p.service__about Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                    a.service__link.link(href="#") Перейти к услуге
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 2
                        h4.service__name Проектирование системы
                    .service__in входит в услугу:
                    .service__icon 
                        img(src="./images/service-icon.png", alt="")
                    button.service__button.button.button_second(type="button")
                        span.icon-plus
                    .service__includes
                        .service__include Консультация
                        .service__include Готовые решения
                        .service__include Чертеж проекта
                    p.service__about Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                    a.service__link.link(href="#") Перейти к услуге
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 3
                        h4.service__name Производство стеллажей
                    .service__in входит в услугу:
                    .service__icon 
                        img(src="./images/service-icon.png", alt="")
                    button.service__button.button.button_second(type="button")
                        span.icon-plus
                    .service__includes
                        //.button.button_outline.button_outline_white
                        .service__include Консультация 
                        .service__include Готовые решения
                        .service__include Чертеж проекта
                    p.service__about Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                    a.service__link.link(href="#") Перейти к услуге
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 4
                        h4.service__name Складирование и логистика
                    .service__in входит в услугу:
                    .service__icon 
                        img(src="./images/service-icon.png", alt="")
                    button.service__button.button.button_second(type="button")
                        span.icon-plus
                    .service__includes
                        .service__include Консультация
                        .service__include Готовые решения
                        .service__include Чертеж проекта
                    p.service__about Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                    a.service__link.link(href="#") Перейти к услуге
            .services-section__list-item.service 
                .service__container.container
                    .service__head
                        .service__num 5
                        h4.service__name Монтаж и сервисное обслуживание
                    .service__in входит в услугу:
                    .service__icon 
                        img(src="./images/service-icon.png", alt="")                    
                    button.service__button.button.button_second(type="button")
                        span.icon-plus
                    .service__includes
                        .service__include Консультация
                        .service__include Готовые решения
                        .service__include Чертеж проекта
                    p.service__about Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки
                    a.service__link.link(href="#") Перейти к услуге
