.suggest-section {
    &__body {
        .container {
            display: flex;
            gap: 150px;
            @media (min-width: 576px) and (max-width: 1608px) {
                gap: calc(40px + 110 * (100vw - 576px) / (1608 - 576))
            }
            @include phone {
                gap: 40px;
            }
        }
    }
    &__person {
        display: flex;
        align-items: center;
        gap: 32px;
        img {
            border-radius: 50%;
            width: 146px;
            height: 146px;
        }
        h4 {
            align-self: flex-end;
            @include text_t1;
        }
        p {
            align-self: flex-start;
            @include text_t3;
            margin: 12px 0 0;
            text-transform: lowercase;
            opacity: 0.6;
        }
    }
    &__desc {
        @include text_t2;
        margin: 30px 0 0;
        opacity: 0.6;
    }
    &__advantages-list {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-basis: calc(776 / 1568 * 100%);
        gap: 16px;
    }
    &__advantage-item {
        background-color: $base-2;
        border-radius: 12px;
        flex-basis: calc(50% - 8px);
        padding: 20px 24px;
        svg {
            width: 64px;
            height: 64px
        }
        h4 {
            @include text_t5-2;
            margin-top: calc(90 / 332 * 100%);
            width: 85%;
            text-transform: uppercase;
        }
    }
    @include tablet {
        &__body {
            .container {
                flex-direction: column
            }
        }
        &__advantage-item {
            h4 {
                width: 100%;
                max-width: 205px
            }
        }
    }
    @include phone {
        &__advantage-item {
            flex: 0 1 100%;
        }
    }
}