@font-face {
    font-family: "icons";
    font-display: "swap";
    font-style: normal; 
    font-weight: 400;
    src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff")
}

[class^="icon-"], [class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-partner:before {
    content: "\e90b";
    color: inherit;
}
.icon-arrow-down:before {
    content: "\e900";
    color: $base-4;
}
.icon-arrow-next:before {
    content: "\e901";
    color: $base-4;
}
.icon-arrow-right:before {
    content: "\e902";
    color: inherit;
}
.icon-certificate:before {
    content: "\e903";
    color: inherit;
}
.icon-checkmark:before {
    content: "\e904";
    color: inherit;
}
.icon-clip:before {
    content: "\e905";
    color: inherit;
}
.icon-clock:before {
    content: "\e906";
    color: $base-4;
}
.icon-close:before {
    content: "\e907";
    color: $base-4;
}
.icon-email:before {
    content: "\e908";
    color: $base-4;
}
.icon-map-pin:before {
    content: "\e909";
    color: $base-4;
}
.icon-minus:before {
    content: "\e90a";
    color: $base-4;
}
.icon-phone:before {
    content: "\e90c";
    color: inherit;
}
.icon-play:before {
    content: "\e90d";
    color: inherit;
}
.icon-plus:before {
    content: "\e90e";
    color: $base-4;
}
.icon-square:before {
    content: "\e90f";
    color: inherit;
}
.icon-stellplus:before {
    content: "\e910";
    color: $base-4;
}
.icon-user:before {
    content: "\e911";
    color: inherit;
}
.icon-video:before {
    content: "\e912";
    color: $base-4;
}

