.hero-section {
    background-color: #F0F0F0;
    display: flex;
    margin-bottom: -0.9375rem;
    padding-top: 8.4375rem;
    padding-bottom: 4.375rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 550px;
    position: relative;
    top: 0 !important;
    overflow: hidden;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__content {
        display: flex;
        flex: 0 1 100%;
        position: relative;
    }
    &__breadcrumbs {
        margin-bottom: 1.25rem;
    }
    &__head {
        color: $base-4;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // font-size: 5.625rem;
        &_horizontal {
            flex-basis: 100%;
            margin-top: auto;
            .hero-section__title {
                flex-basis: calc(500 / 1568 * 100%);
            }
        }
        &_vertical {
            flex-direction: column;
        }
        // @media (min-width: 576px) and (max-width: 1608px) {
        //     font-size: calc(70px + 20 * (100vw - 576px) / (1608 - 576));
        // }
        // @include phone {
        //     font-size: 70px
        // }
    }
    &__title {
        &_small {
            font-size: 3.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 0.9;
            letter-spacing: 0.62px;
            @media (min-width: 576px) and (max-width: 1608px) {
                font-size: calc(48px +  14 * (100vw - 576px) / (1608 - 576));
            }
            @include phone {
                font-size: 2.6rem
            }
            @media only screen and (max-width: 390px) {
                font-size: 2.1rem
            }
        }
        &_big {
            @include heading_h1;
        }
        text-transform: lowercase;
    }
    &__desc {
        @include text_t2;
        opacity: 0.6
    }
    &__img {
        // background: lightgray -68.546px 0px / 144.103% 105.128% no-repeat;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 75%;
        height: 90%;
        transform: translate(-50%, 0);
        img, video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__model {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 75%;
        height: 130%;
        transform: translate(-50%, 7%);
        min-width: 800px;
        @include gap {
            width: 90%;
            min-width: 580px;
        }
    }
    &__running-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        p {
            opacity: 1;
        }
    }
    &__etc {
        color: $base-4;
        display: flex;
        gap: 8px;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__stat {
        display: flex;
        align-items: flex-start;
        flex-basis: calc(210 / 1568 * 100%);
        gap: 10px;
        @include gap {
            display: none
        }
    }
    &__stat-value {
        // font-size: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: 0.9
    }
    &__stat-unit {
        @include text_t5-3
    }
    &__button {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.375rem;
        height: 5.375rem;
        .icon-play {
            font-size: 1.125rem;
            transform: rotate(90deg);
        }
        @include ishover {
            .icon-play {
                border-top-color: $base-4;
            }
        }
    }
    @include min_container {
        min-height: 650px;
        // &__head {
        //     font-size: calc(90px + 90 * var(--screen-diff));
        // }
        &__button {
            .icon-play {
                font-size: calc(18px + 18 * var(--screen-diff));
            }
        }
    }
    @include tablet {
        padding-top: 125px
    }

    @include phone {
        padding-top: 90px;
        padding-bottom: 45px;
        &__button {
            margin: 0 auto;
            position: relative;
            transform: none;
            width: 66px;
            height: 66px;
            order: 2;
        }
    }
}