extends templates/layout
block head
    title  
    link(rel="stylesheet", href="css/equipment-page.min.css")
block header 
    - var color = "white"
block content 
    section.hero-section
        .hero-section__running-line.running-line 
            .running-line__wrapper 
                .running-line__item 
                    p Складское оборудование&nbsp;
        .hero-section__container.container
            .hero-section__content
                nav.hero-section__breadcrumbs.breadcrumbs 
                        ol.breadcrumbs__list 
                            li.breadcrumbs__item 
                                a.breadcrumbs__link(href="/") Главная
                            li.breadcrumbs__item 
                                a.breadcrumbs__link(href="#") Сладское оборудование
                .hero-section__img 
                    img(src="./images/equipments/equipment.png", alt="3d model")
                .hero-section__etc
                    svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                        path(d='M6.61186 8.81818V15H5.67915V8.81818H6.61186ZM11.4268 10.4421C11.3946 10.1564 11.2618 9.93501 11.0284 9.77805C10.7949 9.61908 10.5011 9.5396 10.147 9.5396C9.89342 9.5396 9.67407 9.57984 9.48894 9.66033C9.30381 9.73881 9.15993 9.84748 9.0573 9.98633C8.95669 10.1232 8.90638 10.2791 8.90638 10.4542C8.90638 10.6011 8.94059 10.7279 9.00901 10.8345C9.07944 10.9412 9.171 11.0307 9.28369 11.1032C9.39839 11.1736 9.52114 11.233 9.65194 11.2812C9.78274 11.3275 9.90851 11.3658 10.0292 11.396L10.6329 11.5529C10.8301 11.6012 11.0324 11.6666 11.2397 11.7491C11.4469 11.8316 11.6391 11.9403 11.8162 12.0751C11.9933 12.2099 12.1361 12.377 12.2448 12.5762C12.3555 12.7754 12.4108 13.0138 12.4108 13.2915C12.4108 13.6417 12.3203 13.9526 12.1392 14.2243C11.9601 14.4959 11.6995 14.7102 11.3574 14.8672C11.0173 15.0241 10.6058 15.1026 10.1228 15.1026C9.65999 15.1026 9.25954 15.0292 8.92147 14.8823C8.5834 14.7354 8.31878 14.5271 8.12761 14.2575C7.93644 13.9858 7.8308 13.6638 7.81067 13.2915H8.7464C8.76451 13.5149 8.83695 13.7011 8.96373 13.85C9.09252 13.9969 9.25652 14.1065 9.45574 14.179C9.65697 14.2494 9.87732 14.2846 10.1168 14.2846C10.3804 14.2846 10.6148 14.2434 10.8201 14.1609C11.0274 14.0763 11.1904 13.9596 11.3091 13.8107C11.4278 13.6598 11.4872 13.4837 11.4872 13.2825C11.4872 13.0994 11.4348 12.9495 11.3302 12.8327C11.2276 12.716 11.0877 12.6194 10.9106 12.543C10.7356 12.4665 10.5374 12.3991 10.316 12.3407L9.58553 12.1415C9.0905 12.0067 8.6981 11.8085 8.40833 11.5469C8.12057 11.2853 7.97669 10.9392 7.97669 10.5085C7.97669 10.1523 8.07328 9.84144 8.26646 9.57582C8.45964 9.31019 8.72125 9.10393 9.05126 8.95703C9.38128 8.80812 9.75356 8.73366 10.1681 8.73366C10.5867 8.73366 10.9559 8.80711 11.2759 8.95401C11.5978 9.10091 11.8514 9.30315 12.0365 9.56072C12.2217 9.81629 12.3183 10.1101 12.3263 10.4421H11.4268ZM18.9802 11.9091C18.9802 12.5691 18.8595 13.1366 18.618 13.6115C18.3765 14.0844 18.0455 14.4486 17.6249 14.7042C17.2064 14.9577 16.7305 15.0845 16.1972 15.0845C15.6619 15.0845 15.184 14.9577 14.7634 14.7042C14.3449 14.4486 14.0149 14.0834 13.7734 13.6085C13.5319 13.1336 13.4112 12.5671 13.4112 11.9091C13.4112 11.2491 13.5319 10.6826 13.7734 10.2097C14.0149 9.73479 14.3449 9.37056 14.7634 9.11701C15.184 8.86145 15.6619 8.73366 16.1972 8.73366C16.7305 8.73366 17.2064 8.86145 17.6249 9.11701C18.0455 9.37056 18.3765 9.73479 18.618 10.2097C18.8595 10.6826 18.9802 11.2491 18.9802 11.9091ZM18.0566 11.9091C18.0566 11.406 17.9751 10.9824 17.8121 10.6383C17.6511 10.2922 17.4298 10.0306 17.148 9.85352C16.8683 9.67442 16.5514 9.58487 16.1972 9.58487C15.841 9.58487 15.5231 9.67442 15.2434 9.85352C14.9637 10.0306 14.7423 10.2922 14.5793 10.6383C14.4183 10.9824 14.3378 11.406 14.3378 11.9091C14.3378 12.4122 14.4183 12.8368 14.5793 13.1829C14.7423 13.527 14.9637 13.7886 15.2434 13.9677C15.5231 14.1448 15.841 14.2333 16.1972 14.2333C16.5514 14.2333 16.8683 14.1448 17.148 13.9677C17.4298 13.7886 17.6511 13.527 17.8121 13.1829C17.9751 12.8368 18.0566 12.4122 18.0566 11.9091Z' fill='#333333')
                        circle(cx='12' cy='12' r='11.5' stroke='#333333')
                    svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none')
                        rect(x='0.5' y='1' width='22' height='22' stroke='currentColor')
                        path(d='M17 18.9282L5 12L17 5.0718L17 18.9282Z' stroke='currentColor')
                .hero-section__head.hero-section__head_horizontal
                    h1.hero-section__title.hero-section__title_small Складское оборудование
                    .hero-section__stat 
                        .hero-section__stat-value 32 
                        .hero-section__stat-unit товара в категории
    section.equipment.section
        .equipment__header.section__header
            .container 
                .equipment__filter-panel.filter-panel
                    .filter-panel__tags 
                        .filter-panel__tag.tag
                            span.tag__text Фронтальные стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Паллетные стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Глубинные стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Набивные  стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Среднегрузовые  стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Консольные  стеллажи
                            button.tag__icon(type="button")
                        .filter-panel__tag.tag
                            span.tag__text Мезонины
                            button.tag__icon(type="button")
                    .tag.tag_clear.tag_disabled 
                        span.tag__text Сбросить все
                        button.tag__icon(type="button")
        .equipment__body.section__body
            .container
                .equipment__grid
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-5.png", alt="")
                        h4.equipment-item__name Фронтальный стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment.png", alt="")
                        h4.equipment-item__name Набивной стеллаж
                    a.equipment-item(href="./single-product-page.html")
                            .equipment-item__img 
                                img(src="./images/equipments/equipment-6.png", alt="")
                            h4.equipment-item__name Тоннельный стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-7.png", alt="")
                        h4.equipment-item__name Гравитационный стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-8.png", alt="")
                        h4.equipment-item__name Мобильный стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-9.png", alt="")
                        h4.equipment-item__name Глубинный стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-10.png", alt="")
                        h4.equipment-item__name Въездной стеллаж
                    a.equipment-item(href="./single-product-page.html")
                        .equipment-item__img 
                            img(src="./images/equipments/equipment-11.png", alt="")
                        h4.equipment-item__name Фронтальный стеллаж
                button.equipment__more.button.button_big.button_outline_black 
                    .button__text-wrapper
                        .button__text.button__text_show Еще
                        .button__text.button__text_hidden Ещё
block append scripts 
    script(src="js/equipment.min.js")