extends templates/layout

block head
    title  
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/style.min.css")
block content 
    include ./includes/hero.pug
    include ./includes/commercial.pug
    include ./includes/equipment.pug
    include ./includes/services.pug
    include ./includes/banner.pug
    include ./includes/about.pug
block scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src="js/app.min.js") 