extends templates/layout

block head
    title Проекты
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="css/projects-page.min.css")
block header
    - var color = "grey"
block content 
    .page
        .container
            nav.breadcrumbs.breadcrumbs_black 
                ol.breadcrumbs__list 
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="/") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") Проекты   
            section.projects-section.projects.section
                .projects-section__body
                        h1.projects-section__title Проекты
                        include includes/projects-grid
                        button.projects-section__more.button.button_big.button_outline.button_outline_black
                            .button__text-wrapper 
                                .button__text.button__text_show Ещё
                                .button__text.button__text_hidden Ещё
block append scripts 
    script(src="js/projects.min.js") 