extends templates/layout

block head
    title Продукция
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="css/single-product-page.min.css")
block header
    - var color = "white"
block content 
    section.wrapper
        .model 
            .model-observer
            .model-wrapper
                img(src="./images/product/product.png", alt="3d model")
                //- video(autoplay loop muted preload="metadata") 
                //-     source(src="./videos/stellazh.webm", type="video/webm")
        section.hero-section
            .hero-section__running-line.running-line 
                .running-line__wrapper 
                    .running-line__item 
                        p Фронтальный стеллаж&nbsp;
            .hero-section__container.container
                .hero-section__content
                    nav.hero-section__breadcrumbs.breadcrumbs.breadcrumbs_black 
                        ol.breadcrumbs__list 
                            li.breadcrumbs__item 
                                a.breadcrumbs__link(href="/") Главная
                            li.breadcrumbs__item 
                                a.breadcrumbs__link(href="equipment-page.html") Сладское оборудование
                            li.breadcrumbs__item 
                                a.breadcrumbs__link(href="#") Фронтальный стеллаж
                    .hero-section__img 
                        img(src="./images/product/product.png", alt="3d model")
                    .hero-section__etc Артикул: 1232323
                    .hero-section__head.hero-section__head_horizontal
                        h1.hero-section__title.hero-section__title_small Фронтальный стеллаж
                    .hero-section__call-button.button.button_big.button_third 
                        .button__text-wrapper
                            .button__text.button__text_show Связаться
                            .button__text.button__text_hidden Связаться
        section.product-section 
            .product-section__container.container 
                .product-section__main-info
                    h3.product-section__title стеллажи серий б-35
                    p.product-section__desc Торговые стеллажи представляют собой специализированное оборудование для магазинов, торговых отделов, и являются основой дизайна торговых помещений
                    a.product-section__doc.button.button_outline.button_outline_black 
                        .button__text-wrapper 
                            .button__text.button__text_show Скачать документацию
                            .button__text.button__text_hidden Скачать документацию
                .product-section__params
                    .product-section__certificate 
                        span.icon
                            svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none')
                                rect(x='1.5' y='1.5' width='45' height='45' rx='12.8895' stroke='#333333' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round')
                                path(d='M21.0079 30.1699C20.8309 30.1699 20.6611 30.2403 20.5359 30.3655C20.4107 30.4907 20.3403 30.6605 20.3403 30.8375V38.3324C20.3403 38.8482 20.9013 39.1683 21.3447 38.9088L24.3463 37.156L27.3479 38.9089C27.7874 39.1665 28.3523 38.8514 28.3523 38.3325V30.8376C28.3523 30.6606 28.282 30.4908 28.1568 30.3656C28.0316 30.2404 27.8618 30.17 27.6847 30.17C27.5077 30.17 27.3378 30.2404 27.2126 30.3656C27.0874 30.4908 27.0171 30.6606 27.0171 30.8376V37.1695L24.6832 35.8064C24.5811 35.7465 24.4649 35.7149 24.3465 35.7149C24.2281 35.7149 24.1119 35.7465 24.0098 35.8064L21.6759 37.1695V30.8376C21.6758 30.6606 21.6054 30.4908 21.4801 30.3656C21.3549 30.2404 21.185 30.17 21.0079 30.1699Z' fill='#333333')
                                path(d='M15.1186 24.7252C14.722 26.4837 15.9499 28.2145 17.789 28.3876C18.399 28.4451 18.9284 28.8299 19.1755 29.4031C19.8932 31.0652 21.9104 31.7314 23.487 30.7952C24.0144 30.4809 24.6704 30.4813 25.207 30.7997C26.7516 31.7171 28.7819 31.0908 29.5153 29.3927C29.7578 28.8299 30.2874 28.445 30.9119 28.3864C32.7086 28.2171 33.9695 26.5072 33.5662 24.7204L33.5647 24.7132C33.431 24.116 33.6329 23.4936 34.1032 23.0789C35.4531 21.8898 35.4765 19.7681 34.0915 18.5502C33.6317 18.146 33.4291 17.5233 33.5662 16.9092C33.961 15.1425 32.7204 13.421 30.8949 13.2522C30.5946 13.2245 30.3073 13.1162 30.0633 12.9388C29.8194 12.7614 29.6279 12.5214 29.509 12.2441C28.794 10.5804 26.773 9.91079 25.1991 10.8465C24.9392 11.0005 24.6427 11.0815 24.3406 11.0811C24.0385 11.0806 23.7422 10.9987 23.4828 10.8439C21.922 9.9169 19.8959 10.5712 19.1772 12.2445C18.9347 12.8092 18.4036 13.1955 17.7815 13.2533C15.992 13.4185 14.7191 15.1147 15.1234 16.9258C15.2571 17.5233 15.0542 18.146 14.5858 18.5581C13.2274 19.7521 13.214 21.8731 14.5939 23.0887C15.0541 23.4942 15.2559 24.1172 15.1186 24.7252ZM15.4763 19.5531C16.3028 18.8265 16.667 17.7082 16.4233 16.6178C16.2022 15.6304 16.897 14.676 17.9146 14.5818C18.4541 14.5322 18.9702 14.3378 19.4084 14.0192C19.8466 13.7006 20.1907 13.2697 20.4043 12.7718C20.8027 11.8441 21.9269 11.4732 22.8051 11.9949C23.2713 12.2716 23.8035 12.4173 24.3457 12.4169C24.8878 12.4164 25.4198 12.2698 25.8856 11.9923C26.752 11.4778 27.881 11.8383 28.2821 12.7716C28.7179 13.7864 29.6723 14.4801 30.7817 14.5828C31.7694 14.6741 32.4889 15.6087 32.2594 16.6345C32.0195 17.7083 32.3837 18.8266 33.219 19.5611C33.9643 20.2164 33.9948 21.3955 33.2089 22.0874C32.8035 22.4448 32.5018 22.9046 32.3354 23.4188C32.1689 23.9329 32.1439 24.4824 32.2629 25.0095C32.2793 25.0778 32.2817 25.0873 32.2651 25.0189C32.4842 25.9912 31.8123 26.9603 30.7722 27.0586C29.6765 27.1615 28.7248 27.8537 28.2844 28.8748C27.8867 29.7973 26.7667 30.1729 25.8814 29.6475C24.9327 29.0835 23.7538 29.0842 22.7973 29.6521C21.9348 30.1663 20.8061 29.812 20.3974 28.8645C19.9616 27.8538 19.01 27.1616 17.8996 27.0574C16.9012 26.963 16.1966 26.0161 16.4237 25.0097C16.6659 23.9355 16.3034 22.8161 15.4659 22.0779C14.7094 21.4103 14.7052 20.2311 15.4763 19.5531Z' fill='#333333')
                                path(d='M24.343 25.4743C26.9074 25.4743 28.9937 23.3882 28.9937 20.8236C28.9937 18.2591 26.9074 16.1729 24.343 16.1729C21.7787 16.1729 19.6924 18.2592 19.6924 20.8238C19.6924 23.3883 21.7787 25.4743 24.343 25.4743ZM24.343 17.5082C26.171 17.5082 27.6582 18.9955 27.6582 20.8238C27.6582 22.6517 26.1709 24.139 24.343 24.139C22.5152 24.139 21.0278 22.6516 21.0278 20.8238C21.0278 18.9955 22.5151 17.5082 24.343 17.5082Z' fill='#333333')
                        div Качество оборудования подтверждено международным сертификатом ISO
                    .product-section__table 
                        table 
                            caption 
                            tbody 
                                tr 
                                    td Материал
                                    td Металл
                                tr 
                                    td Нагрузка, кг
                                    td до 30 000
                                tr 
                                    td Размеры, мм
                                    td 807x602x925
                    button.product-section__all-params.link(type="button") Все характеристики
            
    section.projects-section.section 
        .section__header
            .container
                .section__title Реализованные#[br]проекты
        .section__body
            .container
                .section__info
                    .section__param ( 24 проекта ) 
                    p.section__desc Наши менеджеры всегда помогут подобрать стеллажи, подготовят коммерческое предложение, рассчитают стоимость и сроки. Наши менеджеры всегда помогут подобрать стеллажи, подготовят
                    a.section__link.link(href="projects-page.html") Смотреть все
                include includes/projects-grid.pug
block popup
    .popup.popup_product 
        .popup__container 
            .popup__content
                .popup__header
                    button.popup__close(type="button")
                        span.icon-close
                    h4.popup__title Характеристики
                .popup__body 
                    .popup__image 
                        img(src="./images/product/product.png", alt="")
                    .popup__tables
                        table 
                            caption Общая информация
                            tbody 
                                tr 
                                    td Тип
                                    td Фронтальный стеллаж
                                tr 
                                    td Модель
                                    td б-35
                                tr 
                                    td Артикул
                                    td 19823823
                        table 
                            caption Основные характеристики
                            tbody 
                                tr 
                                    td Материал
                                    td Металл
                                tr 
                                    td Нагрузка, кг
                                    td до 30 000
                                tr 
                                    td Размеры, мм
                                    td 807x602x925
                                tr 
                                    td Используемая площадь, м#[sup 2]
                                    td 858
                                tr 
                                    td Количество поддономест, шт
                                    td 552
                        table 
                            caption Дополнительно
                            tbody 
                                tr 
                                    td Цвет
                                    td Желтый, синий
                                tr 
                                    td Модель
                                    td б-35
                                tr 
                                    td Артикул
                                    td 19823823
                .popup__gradient
block append scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src="js/product.min.js") 