.equipment-section {
    background-color: $base-1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: -15px;
    &__header {
        .container {
            display: flex;
            justify-content: space-between;
            row-gap: 30px;
            column-gap: 40px
        }
    }
    &__body {
        padding-top: 32px;
    }
    .section__more{
        flex-basis: calc(360 / 1608 * 100%);
        max-width: 360px;
    }
    &__shops {
        display: flex;
        cursor: pointer;
        @include ishover {
            .equipment-section__shops-item {
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
    &__shops-item {
        background-color: $base-1;
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        transition: margin-right 0.3s ease 0s;
        &:not(:last-child) {
            margin-right: -13px;
        }
    }
    p {
        @include text_t2;
        margin: 24px 0 0;
        opacity: 0.6;
    }
    a {
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        margin: 30px 0 0;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .swiper-slide {
        display: flex;
        height: auto;
        // width: 380px;
        .equipment-item {
            width: 100%;
        }
    }
    @include gap {
        &__header {
            .container {
                flex-direction: column;
            }
        }
        p {
            @include text_t3
        }
    }
}

.equipment-item {
    background-color: $base-2;
    border-radius: 12px;
    cursor: pointer;
    padding: 50px 24px 20px 24px;
    position: relative;
    &__amount {
        @include text_t2;
        position: absolute;
        top: 24px;
        right: 24px;
    }
    &__img {
        position: relative;
        // margin: 0 43px;
        padding-bottom: calc(316/332 * 100%);
        width: 100%;
        height: 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: darken;
            transition: transform 0.2s ease 0s
        }
    }
    &__name {
        @include text_t2;
        margin: 33px 0 0;
        text-transform: lowercase;
        @include min_gap {
            max-width: 246px;
        }
    }
    @include ishover {
        .equipment-item__img {
            img {
                transform: scale(1.05);
            }
        }
    }
}
