@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/swiper-controls.scss";
@import "components/breadcrumbs.scss";
@import "components/equipment.scss";
@import "components/person-info.scss";

@import "blocks/hero.scss";

.hero-section {
    background-image: url(../images/about/about-hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &__head {
        color: $base-1;
        max-width: 776px;
    }
    &__desc {
        max-width: 384px;
        opacity: 0.8;
    }
    &__button {
        border: 1px solid $base-1;
        position: absolute;
        right: 0;
        bottom: 0;
        @include ishover {
            background-color: $base-1;
            color: $base-4
        }
    }
    &:before {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 1.23%, rgba(0, 0, 0, 0.00) 25.31%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @include min_container {
        &__head {
            width: 50%;
            max-width: none;
        }
        &__desc {
            width: 70%;
            max-width: none;
        }
    }
    @include gap {
        &__head {
            flex-basis: 100%
        }
    }
    @include phone {
        &__content {
            flex-direction: column;
            gap: 20px
        }
        &__button {
            flex-shrink: 0
        }
    }
}

.section_one {
    background-color: $base-1;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    .section__img {
        // background-color: #D0CDCB;
    }
    .section__title {
        @include min_gap {
            width: calc(910 / 1580 * 100%);
        }
    }
}
.suggest-section {
    .section__title {
        @include min_gap {
            width: calc(1170 / 1580 * 100%);
        }
    }
    &__body {
        .container {
            display: flex;
            gap: 150px;
            @media (min-width: 576px) and (max-width: 1608px) {
                gap: calc(40px + 110 * (100vw - 576px) / (1608 - 576))
            }
            @include phone {
                gap: 40px;
            }
        }
    }
    &__desc {
        @include text_t2;
        margin-top: calc(30 / 22 * 1em);
        opacity: 0.6;
    }
    &__advantages-list {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        flex-basis: calc(776 / 1568 * 100%);
        gap: 1rem;
    }
    &__advantage-item {
        background-color: $base-2;
        border-radius: 12px;
        flex-basis: calc(50% - 0.5rem);
        padding: 1.5rem 1.5rem 1.1875rem; //20px 24px;
        .icon {
            display: block;
            &_small {
                margin-bottom: calc(99 / 332 * 100%);
                width: 3rem;
                height: 3rem;
            }
            &_big {
                margin-bottom: calc(91 / 332 * 100%);
                width: 4rem;
                height: 4rem;
                transform: translate(-0.5rem, 0)
            }
        }
        h4 {
            @include text_t5-2;
            width: 85%;
            text-transform: uppercase;
        }
        &:first-child, &:last-child {
            padding-top: 1rem
        }
    }
    @include tablet {
        &__body {
            .container {
                flex-direction: column
            }
        }
        &__advantage-item {
            h4 {
                width: 100%;
                max-width: 205px
            }
        }
    }
    @include phone {
        &__advantage-item {
            flex: 0 1 100%;
        }
    }
}
@import "modules/header.scss";

.timeline-section {
    background-color: $base-4;
    color: $base-1;
    overflow: hidden;
    &__header {
        border-color: rgba($color: $base-1, $alpha: 0.25)
    }
    &__title {
        width: 70%;
        max-width: 810px;
    }
    &__body {
        .container {
            display: flex;
            gap: 70px;
        }
    }
    &__img {
        border-radius: 16px;
        flex: 0 0 auto;
        position: relative;
        width: calc(723 / 1568 * 100%);
        overflow: hidden;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .swiper-scrollbar {
        background-color: rgba($color: $base-1, $alpha: 0.15);
        position: static;
        margin-top: calc(224 / 776 * 100%);
        max-width: 974px;
        transform: none;
        .swiper-scrollbar-drag {
            background-color: $base-1;
        }
    }
    @include min_container {
        &__title {
            max-width: none;
            width: calc(810 / 1568 * 100%);
        }
    }
    @include gap {
        &__body {
            .container {
                flex-direction: column-reverse;
            }
        }
        &__img {
            width: 100%;
        }
    }
    @include phone {
        &__title {
            width: auto;
        }
        &__img {
            height: 450px;
        }
    }
}

.timeline-slider {
    flex: 1 1 auto;
    min-width: 0;
    .swiper {
        margin: 0;
        max-width: 345px;
        overflow: visible;
        &-swipe {
            color: $base-4
        }
    }
    .swiper-wrapper {
        cursor: pointer;
    }
    .swiper-slide-active {
        .timeline__year, .timeline__desc { 
            opacity: 1;
            transition-delay: 0.15s
        }
        .timeline__desc {
            opacity: 0.6;
        }
    }
    // &__pagination {
    //     background: rgba($color: $base-1, $alpha: 0.15);
    //     border-radius: 50px;
    //     margin-top: calc(224 / 776 * 100%);
    //     overflow: hidden;
    //     .swiper-pagination-progressbar-fill {
    //         background-color: $base-1;
    //     }
    // }
    @include min_container {
        .swiper {
            max-width: 45%;
        }
    }
    @include gap {
        .swiper {
            max-width: none;
            &-scrollbar {
                margin-top: 70px;
            }
        }
    }
    @include phone {
        .swiper {
            max-width: none;
        }
    }
}

.timeline {
    &__year {
        display: inline-block;
        @include number_n1;
        // padding-top: 26px;
        position: relative;
        opacity: 0.4;
        &:before {
            background-color: $base-1;
            border-radius: 50%;
            content: "";
            position: absolute;
            top: -2.4375rem;
            left: calc(50% - 0.4375rem);
            width: 0.875rem;
            height: 0.875rem;
        }
        transition: opacity 0.2s ease 0s;
        @media (min-width: 576px) and (max-width: 1608px) {
            font-size: calc(64px + 64 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            font-size: 64px;
        }
    }
    &__desc {
        @include text_t2;
        margin-top: 2.8125rem;
        opacity: 0;
        transition: opacity 0.2s ease 0s;
    }
    @include gap {
        &__desc {
            margin-top: 1.25rem;
        }
    }
    @include phone {
        text-align: center
    }
}

@import "modules/equipment.scss";
.equipment-section {
    margin-bottom: 0
}
@import "modules/banner.scss";

.certificates-section {
    &__title {
        max-width: 675px
    }
    .swiper {
        &-wrapper {
            cursor: pointer;
        }        
        &-slide {
            width: 314px;
            height: 446px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain
            }
        }
        &-scrollbar {
            background-color: rgba($color: $base-4, $alpha: 0.15);
            position: static;
            margin: 4rem auto 0;
            max-width: 974px;
            transform: none;
            .swiper-scrollbar-drag {
                background-color: $base-4;
            }
        }
    }

    // &__pagination {
    //     background: rgba($color: $base-4, $alpha: 0.15);
    //     border-radius: 50px;
    //     max-width: 974px;
    //     overflow: hidden;
    //     .swiper-pagination-progressbar-fill {
    //         background-color: $base-4;
    //     }
    // }
    @include min_container {
        &__title {
            width: calc(676 / 1568 * 100%);
            max-width: none
        }
    }
}
@import "modules/footer.scss";