:root {
    --init-width: 1680;
    --init-width_units: calc(var(--init-width) * 1px);
    --font-size: 16px;
    --heading-hero_font-size: 11.25rem; //180px;
    --heading-h1_font-size: 5.625rem; //90px;
    --heading-h2_font-size: 3.875rem; //62px;
    --heading-h3_font-size: 3rem; //48px;
    --text-t1_font-size: 1.625rem; //26px;
    --text-t2_font-size: 1.375rem; //22px;
    --text-t3_font-size: 1.125rem; //18px;
    --text-t4_font-size: 1rem; //16px;
    --text-t5_font-size: 0.875rem; //14px;
    --text-t6_font-size: 0.75rem; //12px;
    --number-n1_font-size: 8rem; //128px;
    --number-n2_font-size: 5.625rem; //90px;
    --breadcrumbs_font-size: 0.625rem; //10px;
    @include min_container {
        --screen-diff: calc((100vw - var(--init-width_units))/var(--init-width));
        --font-size: calc(16px + 16 * var(--screen-diff));
        // --heading-hero_font-size: calc(180px + 180 * var(--screen-diff));
        // --heading-h1_font-size: calc(90px + 90 * var(--screen-diff));
        // --heading-h2_font-size: calc(62px + 62 * var(--screen-diff));
        // --heading-h3_font-size: calc(48px + 48 * var(--screen-diff));
        // --text-t1_font-size: calc(26px + 26 * var(--screen-diff));
        // --text-t2_font-size: calc(22px + 22 * var(--screen-diff));
        // --text-t3_font-size: calc(18px + 18 * var(--screen-diff));
        // --text-t4_font-size: calc(16px + 16 * var(--screen-diff));
        // --text-t5_font-size: calc(14px + 14 * var(--screen-diff));
        // --text-t6_font-size: calc(12px + 12 * var(--screen-diff));
        // --breadcrumbs_font-size: calc(10px + 10 * var(--screen-diff));
        // --number-n1_font-size: calc(128px + 128 * var(--screen-diff));
        // --number-n2_font-size: calc(90px + 90 * var(--screen-diff));
    }
    @media (min-width: 576px) and (max-width: 1608px) {
        --heading-hero_font-size: calc(80px + 100 * (100vw - 576px) / (1608 - 576));
        --heading-h1_font-size: calc(45px + 45 * (100vw - 576px) / (1608 - 576));
        --heading-h2_font-size: calc(32px + 30 * (100vw - 576px) / (1608 - 576));
        --heading-h3_font-size: calc(32px + 16 * (100vw - 576px) / (1608 - 576));
    }
    @include phone {
        --heading-hero_font-size: 80px;
        --heading-h1_font-size: 45px;
        --heading-h2_font-size: 32px;
        --heading-h3_font-size: 32px;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: var(--font-size);
}

body {
    color: $base-1;
    font-family: "Object Sans", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

input {
    border: none;
    outline: none
}

.body_lock {
    // height: 100%;
    overflow: hidden;
}

.page {
    padding-top: 103px;
    @include tablet { 
        padding-top: 97px
    }
    @include min_container {
        padding-top: calc(103px + 103 * var(--screen-diff));;
    }
    @include phone {
        padding-top: 71px;
    }
}
.container {
    margin: 0 auto;
    padding: 0 1.25rem; //20px;
    width: 100%;
    max-width: 100.5rem; //1608px;
    @include phone {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    // @include min_container {
    //     --padding-x: calc(20px + 20 * var(--screen-diff));
    //     padding: 0 var(--padding-x);
    //     max-width: calc(1608px + 1608 * var(--screen-diff));
    // }
}


.section {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: $base-4;
    position: relative;
    margin-bottom: -0.9375rem;
    padding-top: 5.625rem;
    padding-bottom: 6.5625rem;
    z-index: 1;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        .container {
            --positionX: calc(202 / 973 * 100%);
            background-image: url(../images/logos/logo-bg.svg);
            background-position: var(--positionX) 15%;
            background-repeat: no-repeat;
            height: 100%;
            opacity: 0.04;
        }
    }
    &__header {
        border-bottom: 1px dashed rgba($color: $base-4, $alpha: 0.25);
        padding: 0 0 4rem;
    }
    &__title {
        @include heading_h2;
        flex-basis: calc(1067/1608 * 100%);
        text-transform: lowercase;
    }
    &__body {
        padding: 2rem 0 0;
    }
    &__info {
        display: flex;
        align-items: flex-start;   
        gap: 1rem;
    }
    &__param {
        flex-shrink: 0;
        flex-basis: calc(50% - 0.5rem);
        @include text_t3;
        white-space: nowrap
    }
    &__desc {
        @include text_t2;
        flex-basis: calc(545 / 1568 * 100%);
        margin-top: -0.25rem;
        margin-right: auto;
        opacity: 0.6;
    }
    &__link {
        @include text_t5;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &__images {
        margin: 3.125rem 0 0
    }
    &__img {
        border-radius: 16px;
        overflow: hidden;
        max-height: 690px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top
        }
    }
    @include min_container {
        // margin-bottom: calc(-15px - 15 * var(--screen-diff));
        // padding-top: calc(90px + 90 * var(--screen-diff));
        // padding-bottom: calc(105px + 105 * var(--screen-diff));
        &__bg {
            .container {
                background-size: calc(635 / 1680 * 100%);
            }
        }
        // &__header {
        //     padding-bottom: calc(64px + 64 * var(--screen-diff));
        // }
        // &__body {
        //     padding-top: calc(32px + 32 * var(--screen-diff))
        // }
        // &__images {
        //     margin-top: calc(50px + 50 * var(--screen-diff))
        // }
    }
    @include gap {
        padding-top: 45px;
        padding-bottom: 60px;
        &__header {
            padding-bottom: 3rem;
        }
        &__info {
            flex-wrap: wrap;
            gap: 20px;
            & > * {
                flex-basis: auto
            }
            &__desc {
                margin: 0;
            }
        }
    }
    @include phone {
        &__images {
            margin-top: 30px;
            &.swiper {
                margin-left: -16px;
                margin-right: -16px;
                padding: 0 16px;
            }
        }
        &__img {
            flex-shrink: 0;
            height: 420px
        }
    }
}

.link {
    display: inline-block;
    position: relative;
    &:after {
        background-color: $base-4;
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 100%;
        transition: width 0.3s cubic-bezier(0.32,0.94,0.6,1) 0s;

    }
    @include ishover {
        &:after {
            width: 0%;
        }
    }
}

.text-link {
    color: $base-4;
    text-decoration: underline;
    @include ishover {
        text-decoration: none;
    }
}


.word {
    overflow: hidden;
    padding-bottom: 0.1em;
    margin-bottom: -0.1em;
    transform-origin: bottom;
}
// .close {
//     display: block;
//     position: relative;
//     &:after, &:before {
//         content: "";
//         position: absolute;
//         top: calc(50% - 0.5px);
//         left: 0;
//         width: 100%;
//         height: 1px;
//         transform-origin: center center;
//     }
//     &:before {
//         transform: rotate(-45deg);
//     }
//     &:after {
//         transform: rotate(45deg);
//     }
// }

.swiper {
    &-swipe {
        background-color: $base-1;
        border-radius: 50%;
        @include text_t6;
        color: $base-4;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        position: absolute;
        opacity: 0;
        width: 9.375rem;
        height: 9.375rem;
        visibility: hidden;
        transform: scale(0.2);
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0s, visibility 0.2s ease 0s;
        z-index: 1;
        &_show {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        &_grab {
            transform: scale(0.65);
        }
        @include gap {
            width: 7.5rem;
            height: 7.5rem;
        }
        @include phone {
            width: 6.25rem;
            height: 6.25rem;
        }
    }
}