@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts";
@import "base.scss";

@import "components/breadcrumbs.scss";
@import "components/button.scss";

body {
    background-color: #333
}

.breadcrumbs {
    margin: 32px 0 20px
}

@import "modules/header.scss";

.map-section {
    padding: 0 0 105px;
    #map {
        height: 720px;
        @include phone {
            height: 550px
        }
        #zoom-controls {
            display: flex;
            gap: 12px;
        }
        #zoom-in, #zoom-out {
            background-color: $base-1;
            border-radius: 50%;
            color: $base-4;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            padding: 0.5rem;
            transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
            img {
                width: 1.25rem;
                height: 1.25rem;
            }
            @include ishover {
                &:not([disabled]) {
                    background-color: $base-4;
                    img {
                        filter: invert(83%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
                    }
                }
            }
            // &:active:not([disabled]) {
            //     box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            // }
        }
        #zoom-out {
            &:disabled {
                img {
                    filter: invert(83%) sepia(0%) saturate(6%) hue-rotate(149deg) brightness(92%) contrast(93%);
                }
                cursor: auto;
            }
        }
    }
    &__body {
        border-radius: 16px;
        padding-top: 0;
        position: relative;
        overflow: hidden;
    }
}

[class*="copyrights-pane"] {
    display: none !important
}

[class*="ground-pane"] {
    filter: grayscale(1) invert(0.83);
}

.balloon {
    background-color: $base-1;
    border-radius: 0.75rem;
    color: $base-4;
    display: none;
    padding: 2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    bottom: 3rem;
    overflow: hidden;
    opacity: 1;
    &__content {
        transition: opacity 0.3s ease 0s;
    }
    &__title {
        @include text_t1;
        margin: 0 0 1.5rem;
    }
    &__img {
        border-radius: 6px;
        margin: 0 0 2rem;
        height: 15rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 0 3.5rem;
        @include text_t3;
    }
    &__address, &__time, &__phone, &__email {
        @include text_t3;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__link {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    &_open {
        display: block;
    }
    @include tablet {
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        width: 48%;
        min-width: 320px;
        transform: translate(-100%, 0);
        transition: transform 0.3s ease 0s;
        &_open {
            transform: translate(0, 0);
        }
    }
    @include phone {
        padding: 18px 24px;
        min-width: 280px;
        &__title {
            font-size: 22px;
        }
        &__img {
            height: 180px;
        }
        &__address, &__time, &__phone, &__email {
            font-size: 16px;
        }
        &__link {
            font-size: 14px;
        }
    }
}

.departments-section {
    background-color: $base-1;
    overflow: hidden;
    &__title {
        max-width: 625px;
    }
    &__tab-panel {
        display: flex;
        gap: 12px;
        flex-basis: calc(50% - 8px);
        flex-wrap: wrap
    }
    &__tab-button {
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 0.75rem;
        @include text_t6;
        flex-shrink: 0;
        padding: 0.8125rem 1.5rem 0.625rem;
        @include ishover {
            background-color: $base-2;
            border-color: $base-2;
        }
        &_active {
            background-color: $base-4;
            border-color: $base-4;
            color: $base-1;
            cursor: auto;
            pointer-events: none;
        }
    }
    &__info {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
    &__info-col {
        display: flex;
        flex-direction: column
    }
    &__info-title {
        @include text_t4;
        margin: 0 0 0.75em;
        opacity: 0.6;
        text-transform: uppercase;
    }
    & a, &__info-desc {
        @include text_t3;
        &:not(:last-child) {
            margin-bottom: calc(6 / 18 * 1em);
        }
    }
    &__departments {
        margin: 4rem 0 0;
        transition: opacity 0.3s ease 0s
    }
    &__department {
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
        column-gap: 16px;
        row-gap: 24px;
        &_active {
            display: grid;
        }
        @include gap {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            margin-top: 32px;
        }
        @media (max-width: 615px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 380px;
        }
    }
    @include min_container {
        &__title {
            width: calc(625 / 1568 * 100%);
            max-width: none;
        }
        &__tab-panel {
            gap: calc(12 / 776 * 100%)
        }
        // &__info {
        //     gap: calc(32px + 32 * var(--screen-diff))
        // }
        &__departments {
            margin-top: calc(64 / 1568 * 100%)
        }
        &__department {
            gap: calc(16 / 1568 * 100%);
        }
    }
    @include tablet {
        .section__info {
            flex-direction: column;
            gap: 24px;
        }
    }
    @include gap {
        &__tab-panel {
            flex-wrap: nowrap;
            margin-left: -20px;
            margin-right: -20px;
            padding: 0 20px;
            overflow-x: auto;
            /* Скрываем scrollbar для IE, Edge и Firefox */
            -ms-overflow-style: none;  // IE и Edge
            scrollbar-width: none;  // Firefox 
            /* Скрываем scrollbar для Chrome, Safari и Opera */
            &::-webkit-scrollbar {
                height: 0
            }
            & > div {
                white-space: nowrap;
            }
        }
    }
}

.employee {
    &__img {
        background-color: #E2E2E2;
        border-radius: 0.75rem;
        position: relative;
        margin: 0 0 2rem;
        padding-top: calc(470 / 380 * 100%);
        height: 0;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    &__position {
        @include text_t5;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        opacity: 0.6;
    }
    &__name {
        @include text_t1;
        margin-bottom: calc(20 / 26 * 1em);
    }
    &__email {
        display: flex;
        align-items: center;
        @include text_t3;
        gap: calc(6 / 18 * 1em);
        margin-top: auto;
        .icon-email {
            font-size: calc(25 / 18 * 1em)
        }
    }
}

@import "modules/footer.scss";