@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/breadcrumbs.scss";
@import "components/equipment.scss";

@import "blocks/hero.scss";
.hero-section {
    &__breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
        .breadcrumbs__link {
            color: $base-4
        }
        .breadcrumbs__item {
            &:not(:last-child) {
                &:after {
                    color: $base-4;
                }
            }
        }
    }
}
@import "modules/header.scss";
@import "modules/equipment.scss";

.equipment {
    &__header {
        padding-bottom: 32px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: 16px;
    }
    &__more {
        margin: 60px auto 0;
        @media (min-width: 576px) and (max-width: 1608px) {
            width: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
            height: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            margin-top: 40px;
            width: 100px;
            height: 100px;
        }
    }
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        flex-basis: calc(885 / 1568 * 100%)
    }
    @include tablet {
        flex-direction: column;
        row-gap: 20px;
        &__tags {
            flex-wrap: nowrap; 
            width: 100%;
            overflow-x: auto;
            /* Скрываем scrollbar для IE, Edge и Firefox */
            -ms-overflow-style: none;  // IE и Edge
            scrollbar-width: none;  // Firefox 
            /* Скрываем scrollbar для Chrome, Safari и Opera */
            &::-webkit-scrollbar {
                height: 0
            }
            & > div {
                white-space: nowrap;
            }
        }
        &__tags {
            margin-left: -20px;
            padding-left: 20px;
            padding-right: 20px;            
            width: calc(100% + 40px);
        }
    }
}

.tag {
    border: 1px solid rgba($color: $base-4, $alpha: 0.2);
    display: flex;
    align-items: center;
    @include text_t6;
    position: relative;
    text-transform: uppercase;
    &__text {
        user-select: none;
    }
    &__icon {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translate(0, -50%);
        width: 13px;
        height: 13px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        &:before, &:after {
            background-color: $base-1;
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            width: 100%;
            height: 1px;
            transform-origin: center center;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &_clear {
        background-color: #F0F0F0;
        border-width: 0;
        color: $base-4;
        .tag__icon {
            &:before, &:after {
                background-color: $base-4;
            }
        }
    }
    &_selected {
        background-color: $base-4;
        border-color: $base-4;
        color: $base-1;
    }
    &_clear, &_selected {
        padding-right: 46px;
        .tag__icon {
            opacity: 1;
            visibility: visible
        }
    }
    &_disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

@import "modules/footer.scss";