@import "base/_vars.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts";

@import "components/swiper-controls.scss";
@import "components/equipment.scss";

.header__wrapper {
    border-bottom: none
}
@import "modules/hero.scss";
@import "modules/equipment.scss";
@import "modules/services.scss";
.services-section {
    margin-bottom: 0;
    @include gap {
        padding-bottom: 45px
    }
}
@import "modules/banner.scss";
@import "modules/about.scss";
