@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/breadcrumbs";
@import "components/project.scss";

@import "blocks/projects.scss";

.breadcrumbs {
    margin: 32px 0 20px;
    &__item:not(:last-child) {
        &:after {
            color: $base-4
        }
    }
    &__link {
        color: $base-4;
    }
}

@import "modules/header.scss";

.projects-section {
    padding-top: 0 !important;
    opacity: 0;
    &__title {
        @include heading_h1;
        padding: 0.1em;
        margin: -0.1em;
        overflow: hidden;
        text-transform: lowercase;
    }
    &__projects {
        margin-top: 5.125rem;
    }
    &__more {
        margin: 3.75rem auto 0;
        @media (min-width: 576px) and (max-width: 1608px) {
            width: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
            height: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            margin-top: 30px;
            width: 100px;
            height: 100px;
        }
    }
    @include gap {
        padding-top: 20px;
        &__projects {
            margin-top: 32px;
        }
    }
}
@import "modules/footer.scss";