@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/breadcrumbs";

.breadcrumbs {
    &__item:not(:last-child) {
        &:after {
            background-color: $base-4
        }
    }
    &__link {
        color: $base-4;
    }
}

body {
    padding-top: 108px;
    @include phone {
        padding-top: 97px
    }
}
.page {
    padding-top: 32px
}
@import "modules/header.scss";
@import "modules/projects.scss";
.projects-section {
    padding-top: 20px !important;
    &__title {
        @include heading_h1;
        text-transform: lowercase;
        @media (min-width: 576px) and (max-width: 1608px) {
            font-size: calc(45px + 45 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            font-size: 45px;
        }
    }
    &__projects {
        margin-top: 64px;
    }
    &__more {
        margin: 60px auto 0;
        @media (min-width: 576px) and (max-width: 1608px) {
            width: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
            height: calc(100px + 50 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            margin-top: 30px;
            width: 100px;
            height: 100px;
        }
    }
    @include gap {
        &__projects {
            margin-top: 32px;
        }
    }
}
@import "modules/footer.scss";