@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/breadcrumbs.scss";

@import "blocks/hero.scss";

.hero-section {
    background-color: transparent;
    background-image: url(../images/service-hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -15px;
    &__head {
        color: $base-1;
        flex-basis: 50%
    }
    &__title, &__desc {
        color: inherit
    }
    &__desc {
        @include text_t2;
        width: 70%;
        max-width: 364px;
        opacity: 0.6
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 86px;
        height: 86px;
        transform: translate(-50%, 0);
        &::before {
            border: 10px solid $base-1;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            content: "";
            transform: translate(0, 50%);
        }
        @include ishover {
            &::before {
                border-top-color: $base-4;
            }
        }
    }
    .breadcrumbs {
        position: absolute;
        top: 0;
        left: 0
    }
    &__projects {
        background-color: rgba($color: $base-1, $alpha: 0.17);
        border-radius: 50px;
        display: flex;
        align-items: center;
        align-self: flex-end;
        margin-left: auto;
        gap: 18px;
        padding: 8px 24px 8px 8px;
    }
    &__projects-logos {
        display: flex;
        @include ishover {
            .hero-section__projects-logo {
                margin-right: 0
            }
        }
    }
    &__projects-logo {
        background-color: $base-1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 66px;
        &:not(:last-child) {
            margin-right: -34px;
            transition: margin-right 0.2s ease 0s
        }
    }
    &__projects-label {
        @include text_t5-3;
        text-transform: uppercase;

    }
    @include gap {
        &__content {
            flex-direction: column;
            gap: 20px;
        }
        &__head {
            flex-grow: 1;
        }
        &__desc {
            font-size: 18px;
            width: auto;
        }
        &__button {
            left: auto;
            right: 0;
            transform: none;
        }
        &__projects {
            align-self: flex-start;
            margin-left: 0
        }
    }
    @include phone {
        &__button {
            margin: 0 auto;
            position: static;
            transform: none;
            width: 66px;
            height: 66px;
            order: 2;
        }
        &__projects-label {
            display: none
        }
    }
}

.about-section {
    background-color: $base-4;
    color: $base-1;
    &__header {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
    }
    &__title {
        flex-basis: calc(824 / 1608 * 100%);
    }
    &__more {
        display: flex;
        align-items: center;
        gap: 32px;
        img {
            border-radius: 50%;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            width: 146px;
            height: 146px;
        }
        h4 {
            align-self: flex-end;
            @include text_t1;
        }
        p {
            align-self: flex-start;
            @include text_t3;
            margin: 12px 0 0;
            text-transform: lowercase;
            opacity: 0.6;
        }
    }
    &__advantages {
        display: flex;
        gap: 16px;
    }
    &__advantage {
        flex-basis: 25%;
        &_big {
            flex-shrink: 0;
            flex-basis: calc(50% - 8px)
        }
    }
    @media screen and (max-width: 1240px) {
        &__advantages {
            flex-wrap: wrap;
        }
        &__advantage {
            flex-basis: calc(50% - 8px);
            &_big {
                flex-basis: 100%;
            }
        }
    }
    @include tablet {
        &__more {
            img {
                width: 120px;
                height: 120px;
            }
        }
    }
    @include gap {
        &__header {
            .container {
                align-items: flex-start;
                flex-direction: column;
                gap: 36px;
            }
        }
        &__title {
            flex-basis: 100%;
        }
        &__more {
            gap: 24px;
            img {
                width: 90px;
                height: 90px;
            }
        }
    }
    @include phone {
        &__advantage {
            flex-basis: 100%;
        }
        &__more {

            h4 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.advantage {
    background-color: #3D3D3D;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: calc(32 / 1568 * 100%);
    &__type {
        @include text_t6;
        text-transform: uppercase;
        opacity: 0.6;
    }
    &__name {
        @include text_t1;
        margin: 16px 0 auto;
    }
    &__model {
        position: absolute;
        top: calc(32 / 450 * 100%);
        left: 50%;
        bottom: calc(32 / 450 * 100%);
        width: auto;
        height: calc((1 - 2 * 32 / 450) * 100%);
        transform: translate(-50%, 0);
        z-index: 0;
        mix-blend-mode: exclusion
    }
    &__desc {
        @include text_t4-2;
        margin-top: calc(52 / 316 * 100%);
        opacity: 0.6;
    }
    &__icon {
        align-self: flex-end;
        margin-top: calc(106 / 316 * 100%);
        width: calc(100 / 316 * 100%);
        height: auto;
        max-width: 100px;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            vertical-align: bottom;
        }
    }
    &__stat {
        display: flex;
        align-self: flex-end;
        margin-top: calc(216 / 928 * 100%);
        &-prefix, &-unit {
            @include text_t3;
            text-transform: uppercase;
        }
        &-value {
            @include number_n1;
            @media screen and (min-width: 576px) and (max-width: 1608px) {
                font-size: calc(70px + 58 * (100vw - 576px) / (1608 - 576));
            }
            @include phone {
                font-size: 70px;
            }
        }
        &-prefix {
            align-self: flex-end;
        }
        &-unit {
            align-self: flex-start
        }
    }
    @include gap {
        padding: 24px;
    }
    @include phone {
        min-height: 450px;
        &__name {
            margin-bottom: 0;
        }
        &__stat, &__icon {
            margin-top: auto;
        }
        &__stat {
            &-prefix, &-unit {
                font-size: 14px;
            }
        }
    }
}

.approach-section {
    background-color: $base-1;
    color: $base-4;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title {
        max-width: 1172px;
    }
    &__content {
        flex-basis: calc(576 / 1568 * 100%);
        min-width: 450px
    }
    &__desc {
        p {
            @include text_t2;
            opacity: 0.6;
            &:not(:last-child) {
                margin: 0 0 16px
            }
        }
    }
    &__stats {
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 12px;
        display: flex;
        margin: 32px 10px 0 0;
    }
    &__stat {
        flex: 1 1 50%;
        padding: 24px;
        &:first-child {
            border-right: 1px solid rgba($color: $base-4, $alpha: 0.2)
        }
        &-value {
            @include heading_h2;
            @media (min-width: 576px) and (max-width: 1608px) {
                font-size: calc(48px + 14 * (100vw - 576px) / (1608 - 576) );
            }
            @include phone {
                font-size: 48px;
            }
            span {
                font-size: calc(38 / 62 * 1em);
            }
        }
        &-text {
            @include text_t5-3;
            margin-top: calc(48 / 234 * 100%);
        }
    }
    &__video {
        border-radius: 16px;
        padding-top: calc(500 / 1568 * 100%);
        flex-basis: 50%;
        position: relative;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;

        }
    }
    @include tablet {
        .container {
            flex-direction: column;
            gap: 40px;
        }
        &__content {
            max-width: 620px;
            min-width: 0;
        }
        &__video {
            width: 100%;
            padding-top: 62.5%;
        }
    }
    @include phone {
        &__stats {
            flex-direction: column;
        }
        &__stat {
            // max-width: 320px;
            &:first-child {
                border-right: none;
                border-bottom: 1px solid rgba($color: $base-4, $alpha: 0.2);
            }
            &-text {
                margin-top: 24px
            }
        }
    }
}

@import "modules/services.scss";
.services-section {
    margin-bottom: -15px
}
@import "modules/projects.scss";
.projects-section {
    background-color: $base-1
}
@import "modules/header.scss";

@import "modules/footer.scss";