@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/running-line";
@import "components/popup.scss";

.popup {
    &__container {
        height: 100%
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        &:after {
            background: linear-gradient(13deg, rgba(255, 255, 255, 0.80) 9.4%, rgba(255, 255, 255, 0.00) 231.73%);
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 106px;
        }
    }
    &__title {
        @media (max-width: 576px) and (min-width: 1608px) {
            font-size: calc(32px + 16 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            font-size: 36px;
        }
    }
    &__body {
        margin-right: -24px;
        padding-right: 24px;
        overflow: auto;
    }

    @include phone {
        &__close {
            padding: 8px;
        }
    }
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
caption {
    @include text_t5;
    text-align: left;
    margin: 0 0 20px;
    text-transform: uppercase;
}
tbody tr {
    border-top: 1px dashed rgba($color: $base-4, $alpha: 0.25);
    @include text_t4-2
}
tbody td {
    padding: 14px 0;
    &:first-child {
        opacity: 0.6;
    }
    &:last-child {
        text-align: right
    }
}

@import "blocks/hero.scss";

.product-section {
    background-color: #F0F0F0;
    color: $base-4;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 90px;
        min-height: 810px;
    }
    &__main-info, &__params {
        flex-basis: calc(444 / 1568 * 100%);
    }
    &__title {
        @include heading_h3;
        text-transform: lowercase;
        @media (min-width: 576px ) and (max-width: 1568px) {
            font-size: calc(32px + 16 * (100vw - 576px)/(1568 - 576));
        }
        @include phone {
            font-size: 32px
        }
    }
    &__desc {
        @include text_t3;
        opacity: 0.6;
        margin-top: 16px
    }
    &__doc {
        display: inline-block;
        @include text_t6;
        margin-top: 24px;
        text-transform: uppercase;
    }
    &__img {
        flex-basis: calc(502 / 1568 * 100%);
        mix-blend-mode: darken;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__certificate {
        display: flex;
        align-items: center;
        gap: 10px;
        div {
            @include text_t5-2
        }
    }
    &__certificate-icon {
        padding: 7.5px
    }
    &__table {
        margin: 24px 0 0;

    }
    &__all-params {
        margin: 24px 0 0;
        text-decoration: underline;
        text-transform: uppercase
    }

    @include tablet {
        &__container {
            flex-direction: column;
            row-gap: 24px;
        }
        &__img {
            width: 50%;
            order: -1
        }
        &__table {
            margin-top: 16px
        }
        &__all-params {
            margin-top: 16px
        }
    }
    @include phone {
        &__container {
            padding-top: 45px;
            padding-bottom: 45px;
        }
        &__desc {
            font-size: 16px
        }
    }
}

.projects-section {
    &__projects {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin: 48px 0 0;
    }
    &__project {
        flex-basis: calc(50% - 8px);
    }
    @media screen and (max-width: 920px) {
        &__projects {
            justify-content: center;
        }
        &__project {
            flex-basis: min(680px, 100%);
        }
    }
}

.project {
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), lightgray 0px -104.34px / 100% 121.897% no-repeat;
    border-radius: 12px;
    // padding: 24px;
    position: relative;
    &__img {
        padding-top: calc(480 / 776 * 100%);
        height: 0;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
    }
    &__logo {
        background-color: $base-1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5%;
        right: 3.1%;
        width: 62px;
        height: 62px;
        img {
            vertical-align: top;
        }
    }
    &__content {
        background-color: $base-1;
        border-radius: 8px;
        padding: calc(20 / 480 * 100%);
        position: absolute;
        left: 3.1%;
        // right: 3.1%;
        bottom: 5%;
        max-width: 366px;
        width: calc(366 / 480 * 100%)
    }
    &__name {
        @include text_t1;
    }
    &__address {
        @include text_t6_2;
        margin: 12px 0 0;
        opacity: 0.7;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12.72%;
        right: 3.825%;
        width: 20px;
        height: 20px;
        &:before {
            border: 5px solid $base-4;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            content: "";
            display: block;
            width: 0;
            height: 0;
        }
    }
    @include phone {
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            right: 3.1%;
        }
        &__name {
            font-size: 20px;
        }
        &__address {
            display: none;
        }
        &__arrow {
            position: static;
        }
    }
}

@import "modules/header.scss";

@import "modules/footer.scss";