@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/media.scss";
@import "mixins/fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/breadcrumbs.scss";
@import "components/project.scss";
@import "components/person-info.scss";
@import "components/video.scss";
@import "components/youtube-modal.scss";

@import "blocks/hero.scss";
@import "blocks/projects.scss";

.hero-section {
    background-color: transparent;
    background-image: url(../images/service-hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__head {
        color: $base-1;
        flex-basis: 50%
    }
    &__title, &__desc {
        color: inherit
    }
    &__desc {
        max-width: 364px;
    }
    &__button {
        border: 1px solid $base-1;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
        @include ishover {
            background-color: $base-1;
            color: $base-4;
        }
    }
    &__projects {
        background-color: rgba($color: $base-1, $alpha: 0.17);
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        align-self: flex-end;
        margin-left: auto;
        gap: 1.125rem;
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        transition: background-color 0.2s ease 0s;
        @include ishover {
            background-color: $base-1;
            .hero-section__projects-label {
                color: $base-4
            }
        }
    }
    &__projects-logos {
        display: flex;
    }
    &__projects-logo {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 66px;
        height: 66px;
        &:not(:last-child) {
            margin-right: -2.125rem;
            transition: margin-right 0.2s ease 0s
        }
        &_pk {
            background-color: #005A27;
            color: $base-1;
            svg {
                width: 2rem;
            }
        }
        &_pyat {
            background-color: $base-1;
            svg {
                width: 40px;
            }

        }
        &_vkus {
            background-color: #52B623;
            color: $base-1;
            svg {
                width: auto;
                height: 1.875rem
            }
        }
    }
    &__projects-label {
        @include text_t5-3;
        text-transform: uppercase;
        transition: color 0.2s ease 0s;

    }
    @include min_container {
        &__desc {
            width: calc(364 / 784 * 100%);
            max-width: none;
        }
    }
    @media screen and (max-width: 900px) {
        &__content {
            flex-direction: column;
            row-gap: 20px;
        }
        &__head {
            flex-grow: 1;
        }
        &__desc {
            font-size: 18px;
            width: auto;
        }
        &__button {
            left: auto;
            right: 0;
            transform: none;
        }
        &__projects {
            align-self: flex-start;
            margin-left: 0
        }
    }
    @include phone {
        &__projects-label {
            display: none
        }
    }
}

.about-section {
    background-color: $base-4;
    color: $base-1;
    &__header {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
    }
    &__title {
        flex-basis: calc(824 / 1608 * 100%);
    }
    &__advantages {
        display: flex;
        gap: 1rem;
    }
    &__advantage {
        flex-basis: 25%;
        &_big {
            .advantage__name {
                max-width: 277px;
                @include min_container {
                    width: calc(277 / 776 * 100%);
                    max-width: none;
                }
            }
            flex-shrink: 0;
            flex-basis: calc(50% - 0.5rem)
        }
    }
    @media screen and (max-width: 1240px) {
        &__advantages {
            flex-wrap: wrap;
        }
        &__advantage {
            flex-basis: calc(50% - 8px);
            &_big {
                flex-basis: 100%;
            }
        }
    }
    @include gap {
        &__header {
            .container {
                align-items: flex-start;
                flex-direction: column;
                gap: 36px;
            }
        }
        &__title {
            flex-basis: 100%;
        }
    }
    @include phone {
        &__advantage {
            flex-basis: 100%;
        }
    }
}

.advantage {
    background-color: #3D3D3D;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: calc(32 / 1568 * 100%);
    overflow: hidden;
    &__type {
        @include text_t6;
        text-transform: uppercase;
        opacity: 0.6;
    }
    &__name {
        --margin-top: calc(16 / 26 * 1em);
        @include text_t1;
        margin: var(--margin-top) 0 auto;
    }
    &__model {
        position: absolute;
        top: calc(32 / 450 * 100%);
        left: 50%;
        bottom: calc(32 / 450 * 100%);
        width: auto;
        height: calc((1 - 2 * 32 / 450) * 100%);
        transform: translate(-50%, 0);
        z-index: 0;
        mix-blend-mode: exclusion
    }
    &__desc {
        @include text_t4-2;
        margin-top: calc(52 / 316 * 100%);
        opacity: 0.6;
    }
    &__icon {
        align-self: flex-end;
        color: inherit;
        font-size: 6.25rem;
        position: relative;
        top: 0.75rem;
        left: 0.75rem;
        margin-top: calc(106 / 316 * 100%);
        width: calc(100 / 316 * 100%);
        height: auto;
        max-width: 100px;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            vertical-align: bottom;
        }
    }
    .icon-play {
        color: rgba($color: $base-1, $alpha: 0.2);
        font-size: 1rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    &__stat {
        display: flex;
        align-self: flex-end;
        margin-top: calc(216 / 928 * 100%);
        position: relative;
        z-index: 1;
        &-prefix, &-unit {
            @include text_t3;
            text-transform: uppercase;
        }
        &-value {
            @include number_n1;
            @media screen and (min-width: 576px) and (max-width: 1608px) {
                font-size: calc(100px + 28 * (100vw - 576px) / (1608 - 576));
            }
            @include phone {
                font-size: 100px;
            }
        }
        &-prefix {
            align-self: flex-end;
            transform: translate(0, -0.25rem);
        }
        &-unit {
            align-self: flex-start;
            transform: translate(0, 0.625rem);
        }
    }
    &__logo-bg {
        background-image: url(../images/logos/logo-bg-white.svg);
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
        position: absolute;
        top: calc(-105 / 450 * 100%);
        right: calc(-100 / 776 * 100%);
        padding-top: calc(729 / 776 * 100%);
        width: calc(729 / 776 * 100%);
        opacity: 0.02;
    }
    @include gap {
        padding: 24px;
    }
    @include phone {
        min-height: 450px;
        &__logo-bg {
            background-position: center;
            top: 0%;
            left: 0;
            right: auto;
            padding-top: 0;
            width: 100%;
            height: 100%;
        }
        &__name {
            margin-bottom: 0;
        }
        &__stat, &__icon {
            margin-top: auto;
        }
        &__stat {
            &-prefix, &-unit {
                font-size: 14px;
            }
        }
    }
}

.approach-section {
    background-color: $base-1;
    color: $base-4;
    &__title {
        max-width: 1172px;
    }
    &__body {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__content {
        flex-basis: calc(576 / 1568 * 100%);
        min-width: 450px
    }
    &__desc {
        p {
            @include text_t2;
            opacity: 0.6;
            &:not(:last-child) {
                margin: 0 0 1rem
            }
        }
    }
    &__stats {
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 12px;
        display: flex;
        margin: 32px 10px 0 0;
    }
    &__stat {
        flex: 1 1 50%;
        padding: 24px;
        &:first-child {
            border-right: 1px solid rgba($color: $base-4, $alpha: 0.2)
        }
        &-value {
            @include heading_h2;
            @media (min-width: 576px) and (max-width: 1608px) {
                font-size: calc(48px + 14 * (100vw - 576px) / (1608 - 576) );
            }
            @include phone {
                font-size: 48px;
            }
            span {
                font-size: calc(38 / 62 * 1em);
            }
        }
        &-text {
            @include text_t5-3;
            margin-top: calc(48 / 234 * 100%);
        }
    }
    &__video {
        border-radius: 1rem;
        padding-top: calc(500 / 1568 * 100%);
        flex-basis: 50%;
        overflow: hidden;
    }
    @include min_container {
        &__title {
            width: calc(1172 / 15680 * 100%);
            max-width: none;
        }
    }
    @include tablet {
        .container {
            flex-direction: column;
            gap: 40px;
        }
        &__content {
            max-width: 620px;
            min-width: 0;
        }
        &__video {
            width: 100%;
            padding-top: 62.5%;
        }
    }
    @include phone {
        &__stats {
            flex-direction: column;
        }
        &__stat {
            // max-width: 320px;
            &:first-child {
                border-right: none;
                border-bottom: 1px solid rgba($color: $base-4, $alpha: 0.2);
            }
            &-text {
                margin-top: 24px
            }
        }
    }
}

@import "modules/services.scss";
.service-section {}

.service {
    @include min_tablet {
        &__icon, &__about {
            grid-column: 2;
        }
    }
    @include phone {
        &__icon {
            grid-row: 1;
        }
    }
}
// @import "modules/projects.scss";
.projects-section {
    background-color: $base-1
}
@import "modules/header.scss";

@import "modules/footer.scss";