@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts";
@import "base.scss";

@import "components/button.scss";
@import "components/swiper-controls.scss";
@import "components/equipment.scss";
@import "components/youtube-modal.scss";

@import "modules/header.scss";
.header__wrapper {
    border-bottom: none
}
@import "modules/hero.scss";
@import "modules/equipment.scss";
@import "modules/services.scss";
@import "modules/banner.scss";
@import "modules/about.scss";
@import "modules/footer.scss";