@import "banner.scss";

.section-one {
    .section__title {
        text-transform: none
    }
}

.equipments-section, .projects-section {
    &__header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    &__title {
        flex-basis: calc(927 / 1568 * 100%);
    }
    .swiper-buttons {
        display: flex;
        gap: 16px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        border: 1px solid rgba($color: $base-4, $alpha: 0.2);
        border-radius: 50px;
        display: block;
        color: $base-4;
        padding: 24px 74px;
        width: auto;
        height: auto;
        svg {
            vertical-align: top;
        }
        @media (min-width: 576px) and (max-width: 1608px) {
            padding-left: calc(12px + 62 * (100vw - 576px) / (1608 - 576));
            padding-right: calc(12px + 62 * (100vw - 576px) / (1608 - 576));
            padding-top: calc(12px + 12 * (100vw - 576px) / (1608 - 576));
            padding-bottom: calc(12px + 12 * (100vw - 576px) / (1608 - 576));
        }
        @include phone {
            padding: 12px;
        }
    }
    .swiper-button-prev {
        svg {
            transform: rotate(-180deg)
        }
    }
    .swiper-button-next {
        svg {
            transform: rotate(0)
        }
    }
    @include gap {
        &__header .container {
            flex-direction: column;
            gap: 15px
        }
    }
}
@import "results.scss";