.results-slider {
    border-radius: 16px;
    margin: 75px 0 0;
    overflow: hidden;
    &__slide {
        border-radius: 16px;
        max-height: 720px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            vertical-align: top
        }
    }
    .swiper-controls {
        left: 50%;
        right: auto;
        bottom: calc(32 / 720 * 100%);
        width: auto;
        transform: translate(-50%, 0);
        &__inner {
            background-color: $base-1;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: $base-4
    }
    @include gap {
        margin-top: 40px
    }
    @include phone {
        &__slide {
            height: 450px;
            img {
                height: 100%
            }
        }
    }
}